<template>
  <div class="main-container">
    <span :class="navItemStyle('ViewIndividualFarm')" @click="viewProfile()">Farm Profile</span>
    <span :class="navItemStyle('FarmUpdates')" @click="viewFarmUpdates()">Farm Updates</span>
    <span :class="navItemStyle('ContactFarm')" @click="contactFarm()">Contact Farm</span>
  </div>
</template>

<script>
export default {
  methods: {
    viewProfile () {
      return this.$router.push({name: 'ViewIndividualFarm'})
    },
    viewFarmUpdates () {
      return this.$router.push({name: 'FarmUpdates'})
    },
    contactFarm () {
      return this.$router.push('#')
    },
    navItemStyle (itemName) {
      const navStyle = this.$route.name === itemName ? 'list-item active' : 'list-item'
      return navStyle
    }
  }
}
</script>

<style scoped lang="scss">
.main-container {
  text-align: left;
  width: 100vw;
  margin-right: 2px;
  margin-bottom: 1rem;
}
.list-item {
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  color: #7a3241;
  cursor: pointer;
  margin-bottom: 20px;
}
.list-item.active {
  border-bottom: 3px solid #90b32f;
}

// tablets portrait
@media only screen and (min-width: 40em) {
  .publication-header {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0px;
  }
}

// large screens - tablets landscape and desktop
@media only screen and (min-width: 60em) {
  .publication-header {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0px;
  }
}

@media screen and (max-width: 800px){
  .main-container{
    margin: 50px 0px 0px 0px !important;
  }
}

@media screen and (max-width: 734px){
  .list-item{
    margin: 0px 5px 0px 0px !important;
    font-size: 0.8em;
  }
}
</style>
