<template>
  <div>
    <transition name="fade" appear>
      <DailyMilkCount
      class="positioning"
      key="milkCount"
      v-if="stagingSection === 'DailyMilkCount'"
      @changeStagingSection="changeStagingSection('DailyMilkSection')"
      @quantityOfMilk="updateMilkQuantity"
      :initialQuantityOfMilk="quantityOfMilk"
      />

      <DailyMilkProductionResult
      class="positioning"
      key="result"
      v-else-if="stagingSection === 'DailyMilkSection'"
      :quantityOfMilk="quantityOfMilk"
      @changeStage="changeStagingSection('DailyMilkCount')"
      />
    </transition>
  </div>
</template>

<script>
import DailyMilkProductionResult from
  '@/pages/DailyMilkPage/DailyMilkProductionResult.vue'
import DailyMilkCount from
  '@/pages/DailyMilkPage/DailyMilkCount.vue'
export default {
  name: 'DailyMilkPage',
  components: { DailyMilkProductionResult, DailyMilkCount },
  data () {
    return {
      stagingSection: 'DailyMilkCount',
      quantityOfMilk: 0
    }
  },
  methods: {
    changeStagingSection: function (newStagingSection) {
      this.stagingSection = newStagingSection
    },
    updateMilkQuantity: function (quantityOfMilk) {
      this.quantityOfMilk = quantityOfMilk
      this.stagingSection = 'DailyMilkSection'
    }
  }
}
</script>

<style scoped>
  * {
    text-align: center;
  }

  .positioning {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 6% 1.25rem;
    margin-top: 80px;
  }

  /* TRANSITION */

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-active, .fade-leave-active {
    transition: all 1.4s ease-in;
  }
</style>
