<template>
  <Spinner v-if="isLoading" />
  <div v-else>
    <UpdateCard
      v-if="expertId"
      v-for="update in expertUpdates"
      :key="update.id"
      :blog="update"
      :numberOfExpertUpdates="numberOfExpertUpdates"
      id="sp-blog-content"
      :completedReading="completedReading"
    />
  </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'
import Spinner from '@/components/ui/Spinner'
import UpdateCard from '@/components/ui/UpdateCard.vue'
import ServiceProviderUpdate from '@/pages/ServiceProviderUpdates/ServiceProviderUpdate'
import LoadMore from '@/components/ui/LoadMoreButton'
export default {
  name: 'ExpertUpdates',
  props: {
    expertUpdates: {
      type: Array,
      required: true
    },
    completedReading: {
      type: Boolean
    },
    numberOfExpertUpdates: {
      type: Number
    },
    options: {
      type: Array
    },
    expertId: {
      type: Number
    }
  },
  components: {
    Spinner,
    UpdateCard,
    ServiceProviderUpdate,
    LoadMore
  },
  computed: {
    ...mapState({
      isLoading: state => state.expert.isLoading
    }),
    ...mapGetters([
      'USER_PROFILE',
      'getExpertUpdates',
      'getExpertUpdatesPage',
      'getIsFetching',
      'getNumberOfExpertUpdates'
    ])
  }

}
</script>
<style>

</style>
