<template>
  <div>
    <div>
      <div class='product-list-header'>
        <h3 class='section-title'>Products</h3>
        <v-select
          class='select-field county-select'
          :clearable='false'
          label='county'
          :searchable='true'
          :options="allCounties"
          :value="selectedCounty"
          @input="onCountyChange"
        />
        <v-select
          class='select-field input-select'
          :clearable='false'
          label='inputLabel'
          :searchable='true'
          :options="inputTypes"
          :value="inputTypes[0]"
          @input="onCountyChange"
        />
      </div>
    </div>
  </div>
</template>

<script>
import vSelect from 'vue-select'

export default {
  data () {
    return {
      inputTypes: [
        { inputLabel: 'All input types', type: 'all' },
        { inputLabel: 'Dairy meal, minerals & supplements', type: 'dairy' },
        { inputLabel: 'Fodder solutions', type: 'fodder' },
        { inputLabel: 'Farm Machinery & Equipment', type: 'farm_machinery' },
        { inputLabel: 'Drugs and Vet Products', type: 'drugs' },
        { inputLabel: 'Irrigation solutions', type: 'irrigation' }
      ]
    }
  },
  name: 'ProductNavHeader',
  components: {
    'v-select': vSelect
  },
  props: ['onCountyChange', 'onProductTypeChange', 'allCounties', 'selectedCounty']
}
</script>

<style lang="scss" scoped>
.product-list-header {
  margin-bottom: 2rem;
}

.section-title {
  margin: 2rem 0;
}
.select-field {
  display: inline-block;
  position: relative;
  width: 38%;
  margin-right: 1rem;

 /deep/ .vs__selected-options {
    height: 2rem;
    overflow: hidden;

    & > span {
      width: 90%;
      white-space: nowrap;
    }
  }

  /deep/ .dropdown-menu li a {
    white-space: normal;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 734px) {
 .select-field.county-select{
   width: 100%;
   margin-bottom: 15px;
 }
 .select-field.input-select{
   width: 100%;
 }
 .section-title{
   margin: 10px 0px 20px 0px;
 }
}
</style>
