<template>
  <ProfileSideBarLayout>
    <transition name="fade" appear>
      <div>
        <div class="expert-list-container">
          <h3>Experts</h3>
          <v-select
            @input="handleCountySelection"
            :value="selected"
            class="county-select"
            :clearable="false"
            label="county"
            :searchable="true"
            :disabled="isLoading"
            :options="counties"
          />
        </div>
        <div class="experts-container">
          <Spinner v-if="isLoading"/>
          <div v-else-if="experts.length" class="expert-list">
            <ExpertListCard
              v-for="expert in experts"
              :key="expert.id"
              :id="expert.id"
              :firstName="expert.first_name"
              :lastName="expert.last_name"
              :image="expert.profile.pic"
              :speciality="expert.expert_category"
              :views="expert.view_counts"
              :updates="expert.number_of_updates"
              :county="expert.county"
            />
          </div>
          <div v-else class="note-message">
            <h3>We are yet to have any expert in this County</h3>
          </div>
          <div class="pagination-btns" v-if="!isLoading && experts.length">
            <PaginationButton
              :disabled="!currentPage.links.prev"
              @click="handlePagination({ selectedCounty: selected, pageNumber: currentPage.meta.current_page - 1 })"
            >&#x2190; Previous</PaginationButton>
            <PaginationButton
              :disabled="!currentPage.links.next"
              @click="handlePagination({ selectedCounty: selected, pageNumber: currentPage.meta.current_page + 1 })"
            >Next &#x2192;</PaginationButton>
          </div>
        </div>
      </div>
    </transition>
  </ProfileSideBarLayout>
</template>

<script>
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout'
import PaginationButton from '@/components/ui/PaginationButton'
import ExpertListCard from './ExpertListCard'
import { mapActions, mapState, mapGetters } from 'vuex'
import vSelect from 'vue-select'
import { findCounty } from '@/utils/helperFunctions'
import Spinner from '@/components/ui/Spinner'

export default {
  name: 'ExpertListPage',

  mounted () {
    this.getExpertCounties(this.$route.params.county)
  },

  methods: {
    ...mapActions(['getExperts', 'getExpertCounties']),

    handleCountySelection (selectedCounty) {
      const urlParams = selectedCounty.id ? selectedCounty.county : ''
      this.$router.push(`/experts/county` + `/${urlParams}`)
    },
    handlePagination (params) {
      this.$router.push({
        path: this.$router.history.current.fullPath,
        query: { page: `${params.pageNumber}` }
      })
    }
  },

  watch: {
    $route (data) {
      const selectedCounty = findCounty(this.counties, data.params.county)
      const defaultCounty = { county: 'All-counties', id: 0 }
      const pageNumber = data.query.page

      if (selectedCounty !== undefined) {
        this.getExperts({ selectedCounty })
      } else if (data.path === '/experts/county/') {
        this.getExperts({
          selectedCounty: defaultCounty,
          pageNumber: Number(pageNumber)
        })
      } else if (pageNumber !== undefined) {
        this.getExperts({
          selectedCounty: this.selected,
          pageNumber: Number(pageNumber)
        })
      }
    }
  },

  computed: {
    ...mapState({
      isLoading: state => state.expertList.isLoading,
      counties: state => state.expertList.counties,
      selected: state => state.expertList.selected
    }),

    ...mapGetters(['currentPage']),

    experts () {
      if (this.currentPage && this.currentPage.data) {
        return this.currentPage.data
      }
      return []
    }
  },

  components: {
    ExpertListCard,
    PaginationButton,
    ProfileSideBarLayout,
    'v-select': vSelect,
    Spinner
  }
}
</script>

<style scoped>
.expert-list-container {
  padding-top: 4rem;
}

.loader-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

h3 {
  color: #580010;
  font-size: 1.5rem;
}

.pagination-btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.note-message {
  text-align: center;
}

.county-select {
  color: #a5a5a5;
  font-size: 0.9rem;
  margin: 0;
  width: 17rem;
}

.expert-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 24rem));
  grid-gap: 4rem 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.experts-container {
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 1.4rem #d5e2a3;
  margin-top: 4rem;
  padding: 2rem;
  background-color: #fff;
}

@media only screen and (max-width: 1316px) {
  .expert-list {
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  }
}

@media screen and (max-width: 734px){
  .expert-list-container{
    padding: 0px;
    margin: 10px 0px 10px 0px;
  }
  .experts-container{
    margin-top: 20px;
    padding: 10px;
  }
  .expert-list{
    grid-gap: 35px;
  }
}

@media only screen and (max-width: 367px) {
  .pagination-btns {
    justify-content: center;
  }

  .pagination-btns > :not(:first-child) {
    margin-top: 1rem;
  }
}

/* TRANSITION */

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 1.4s ease-in;
}
</style>
