<template>
   <div class="card-container">
      <div class="card">
    <img
      :src="this.farmInfo.farmDetails.photo[0] || 'assets/default-farm.jpg'"
      class="card-img-top img-fluid card-img"
      alt="..."
    >
    <div class="card-body">
      <IndividualCardIcons
        :owner="farmDetails.owner"
        :land_size="farmDetails.land_size"
        :location="farmDetails.location"
        :milk_production="farmDetails.milk_production"
        :cow_breeds="farmDetails.cow_breeds"
        :num_cows="farmDetails.num_cows"/>
      <div
        class="card-text mt-4 p-4"
        v-html="this.farmInfo.farmDetails.details"
      >
      </div>
    </div>
  </div>
    <div class="mt-4">
      <ContactButton
      buttonDetails='<i class="fas fa-envelope"></i> <span icon="envelope">Contact Farm</span>'
      />
    </div>
  </div>
</template>

<script>
import IndividualCardIcons from './IndividualCardIcons'
import ContactButton from '@/components/ui/ContactButton'
import Spinner from '@/components/ui/Spinner'
import { mapGetters } from 'vuex'

export default {
  components: {
    IndividualCardIcons,
    ContactButton,
    Spinner
  },
  computed: {
    ...mapGetters(['farmInfo', 'farmImage']),
    farmDetails () {
      return this.farmInfo.farmDetails
    }
  }
}
</script>

<style scoped>
img {
  margin-left: 30px;
}
.card {
  padding: 1.5rem;

  border: none;
}

.card-container {
  box-shadow: 0px 0px 15px rgba(194, 240, 68, 0.2),
    0px 0px 15px rgba(194, 240, 68, 0.2);
}
.card-img-top {
  height: 20rem;
}
.border {
  border-radius: 5px;
}

.card-text {
  color: #7a3241;
  background-color: #f3f7e9;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: lighter;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-body {
  padding: 0;
}
.card-img {
  margin: 0 20px 0 20px;
}
@media only screen and (max-width: 950px) {
  .card-img-top {
    height: 15rem;
  }
}
</style>
