<template>
  <ProfileSideBarLayout>
    <div v-show="isLoading">
      <Spinner />
    </div>
    <div v-show="!isLoading">
      <h3 id="dairy-farms">Dairy Farms</h3>
      <Farms :farmDetails="farmDetails"/>
    </div>
  </ProfileSideBarLayout>
</template>

<script>
import Farms from '@/pages/Farm/Farms.vue'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout.vue'
import Spinner from '@/components/ui/Spinner'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'ExpertProfileIndex',
  components: {
    Farms,
    ProfileSideBarLayout,
    Spinner
  },
  data () {
    return {
      isLoading: true
    }
  },
  computed: {
    ...mapGetters(['getState']),
    farmDetails () {
      return this.getState.farms
    }
  },
  methods: {
    ...mapActions(['getFarms'])
  },
  created () {
    this.getFarms()
  },
  watch: {
    farmDetails (newVal, oldVal) {
      // disable spinner when content is available from server
      this.isLoading = false
    }
  }
}
</script>
<style  scoped>
.profile-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  flex-wrap: nowrap;
  /* grid-template-columns: 30% 67%;
  grid-column-gap: 2%; */
}
.side-bar {
  min-height: 100%;
  width: 30%;
  background-color: grey;
}
.main-content {
width: 67%;
padding-left: 32px;
}
#dairy-farms {
  color:#510012;
}

.dairy-farms-container{
  margin-top: 4.5rem;
}
@media screen and (max-width: 800px){
  #dairy-farms{
    margin-top: 50px !important;
  }
}
@media only screen and (max-width: 734px) {
  #dairy-farms{
    margin: 10px 0px !important;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 600px) {
  .profile-wrapper {
    flex-direction: column;
  }
  .side-bar {
    width: 100%;
    background-color: grey;
    min-height: 20vh;
  }
  .main-content {
    width: 100%;
    min-height: 80vh;
  }
  #dairy-farms {
  color:#510012;
  margin-left:5%
  }
}

</style>
