<template>
  <div class="rr-report-container">
    <h1>User Report</h1>
  </div>
</template>

<script>
export default {
  name: 'UserReport'
}
</script>

<style scoped>
.rr-report-container {
  text-align: left;
  margin: 4rem auto 0;
  max-width: 600px;
}
</style>
