<template>
  <div>
    <div v-if="isLoading">
      <Spinner />
    </div>
    <div>
      <div v-if="USER_PROFILE !== undefined && USER_PROFILE.is_expert=== 0 && !isLoading">
        <div class="rr-container">
          <div class="rr-section-container mb-4">
            <div class="rr-main-heading-container">
              <div class="rr-main-heading-image-container">
                <div class="rr-main-heading-image">
                  <img :src="RANDOM_USER_TEST.image" />
                </div>
              </div>
              <div class="rr-main-heading-text">
                <h5 class="title">{{RANDOM_USER_TEST.title}}</h5>
                <button
                  class="btn-readmore mt-2"
                  @click="$router.push({ name: RANDOM_USER_TEST.testComponent })"
                >Take Test</button>
              </div>
            </div>
          </div>
          <AppBlog
            v-if="RANDOMUPDATE"
            :id="RANDOMUPDATE.id"
            :title="RANDOMUPDATE.text"
            :likes="RANDOMUPDATE.likes"
            :number_of_comments="RANDOMUPDATE.number_of_comments"
            blogType="UPDATE"
            :url="`/updates/${RANDOMUPDATE.id}`"
          />
          <SaleProduct
            v-if="RANDOM_USER_LIVESTOCK"
            :price="RANDOM_USER_LIVESTOCK.price"
            :product_name="RANDOM_USER_LIVESTOCK.title"
            :county="RANDOM_USER_LIVESTOCK.county"
            :image_src="RANDOM_USER_LIVESTOCK.photo"
            :id="RANDOM_USER_LIVESTOCK.id"
          />
          <AppBlog
            v-if="RANDOMBLOG"
            :id="RANDOMBLOG.id"
            :title="RANDOMBLOG.title"
            :likes="RANDOMBLOG.likes"
            :number_of_comments="RANDOMBLOG.number_of_comments"
            blogType="BLOG"
            :url="`/blogs/${RANDOMBLOG.id}`"
          />
          <LiveStockExpert
            v-if="RANDOM_EXPERT"
            :expert_names="RANDOM_EXPERT.first_name +' '+ RANDOM_EXPERT.last_name"
            :field="RANDOM_EXPERT.expert_category"
            :county="RANDOM_EXPERT.county"
            :pic="RANDOM_EXPERT.profile.pic"
            :id="RANDOM_EXPERT.id"
          />
          <AppPublication
            v-if="RANDOM_USER_PUBLICATION"
            :imageSrc="RANDOM_USER_PUBLICATION.thumbnail"
            :title="RANDOM_USER_PUBLICATION.title"
            :description="RANDOM_USER_PUBLICATION.description"
            :id="RANDOM_USER_PUBLICATION.id"
            @download_publication="downloadPublication"
          />
        </div>
      </div>
      <div v-else-if="isInputSeller">
        <InputSellerProducts />
      </div>
      <div v-else class="rr-container">
        <ServiceProviderUpdate
          v-if="expertId && expertId !== undefined"
          :options="TOPICS"
          :blogs="getExpertUpdates"
          :expertId="expertId"
        />
        <ExpertUpdates
          :expertUpdates="getExpertUpdates"
          :options="TOPICS"
          :expertId="expertId"
          :numberOfExpertUpdates="getNumberOfExpertUpdates"
          :completedReading="completedReading"
        />
        <button
          v-if="getExpertUpdatesPage.currentPage !== getExpertUpdatesPage.lastPage && !isLoading"
          @click="loadMoreExpertUpdates(USER_PROFILE.id, getExpertUpdatesPage.currentPage + 1)"
          class="btn big-full expert-btn"
          v-html="loadMoreButtonContent"
        >LOAD MORE</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import AppButton from '@/components/ui/AppButton'
import SaleProduct from '@/components/ui/SaleProduct'
import AppBlog from '@/components/ui/AppBlog'
import LiveStockExpert from '@/components/ui/LiveStockExpert'
import AppPublication from '@/components/ui/AppPublication'
import Spinner from '@/components/ui/Spinner'
import UpdateCard from '@/components/ui/UpdateCard.vue'
import ServiceProviderUpdate from '@/pages/ServiceProviderUpdates/ServiceProviderUpdate'
import ExpertUpdates from '@/pages/Updates/ExpertUpdates'
import InputSellerProducts from '@/pages/InputSellerActivity/InputSellerProducts'

const token = localStorage.getItem('token')
const expertId = null

export default {
  name: 'UserProfileTimeline',
  components: {
    AppButton,
    SaleProduct,
    AppBlog,
    LiveStockExpert,
    AppPublication,
    Spinner,
    ServiceProviderUpdate,
    UpdateCard,
    ExpertUpdates,
    InputSellerProducts
  },
  mounted() {
    this.$store.dispatch('GET_BLOGS')
    this.GET_TOPICS({ token: this.token })
  },
  created() {
    this.$store.dispatch('GET_EXPERT_PROFILES')
    this.$store.dispatch('GET_USER_LIVESTOCK')
    this.$store.dispatch('GET_UPDATES')
    this.$store.dispatch('GET_USER_PUBLICATION')
    this.$store.dispatch('GET_USER_TESTS')
  },
  computed: {
    ...mapGetters([
      'RANDOMBLOG',
      'RANDOMUPDATE',
      'RANDOM_USER_LIVESTOCK',
      'RANDOM_EXPERT',
      'RANDOM_USER_PUBLICATION',
      'RANDOM_USER_TEST',
      'DOWNLOAD_PUBLICATION',
      'USER_PROFILE',
      'getExpertUpdates',
      'getExpertUpdatesPage',
      'getIsFetching',
      'getNumberOfExpertUpdates',
      'TOPICS'
    ]),
    ...mapState({
      isLoading: state => state.ExpertProfile.isLoading
    }),
    loadMoreButtonContent() {
      const content = this.getIsFetching
        ? '<i class="fas fa-spinner fa-spin"/>'
        : 'LOAD MORE'
      return content
    },
    isInputSeller() {
      return (
        this.USER_PROFILE &&
        this.USER_PROFILE.account_type === 'I am an input seller'
      )
    }
  },
  methods: {
    downloadPublication(id, title) {
      const publication = {
        id,
        title
      }
      this.$store.dispatch('GET_DOWNLOAD_PUBLICATION', publication)
    },
    ...mapActions([
      'GET_EXPERT_UPDATES',
      'UPDATE_EXPERT_UPDATES',
      'GET_TOPICS'
    ]),
    loadExpertUpdates(newValue) {
      if (newValue.is_expert === '1') {
        let params = { expertId: newValue.id }
        this.GET_EXPERT_UPDATES(params)
      }
    },
    loadMoreExpertUpdates(expertId, page) {
      let params = { expertId, page }
      this.UPDATE_EXPERT_UPDATES(params)
    }
  },
  data() {
    return {
      completedReading: false,
      token,
      expertId
    }
  },
  watch: {
    USER_PROFILE: function(newValue) {
      if (newValue) {
        this.loadExpertUpdates(newValue)
        this.expertId = Number(newValue.id)
      }
    }
  }
}
</script>

<style scoped>
.btn.big-full {
  width: 100%;
  background-color: #e7e7e7;
  font-size: 15px;
  padding: 15px;
  outline: none;
  color: #7a7a7a;
  border-radius: 0;
  box-shadow: none;
}

.rr-container {
  max-width: 650px;
  margin-top: 15px;
  margin-bottom: 200px;
}
.rr-section-container {
  -webkit-box-shadow: 0px 0px 15px rgba(194, 240, 68, 0.4);
  box-shadow: 0px 0px 15px rgba(194, 240, 68, 0.4);
  margin-top: 2rem;
  border-radius: 10px 10px 0px 0px;
}
.rr-switchers {
  text-align: left;
}
.rr-switchers li {
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  color: #7a3241;
}
.rr-switchers li a {
  text-decoration: none;
  color: inherit;
}
.rr-main-heading-container {
  display: flex;
  background-color: #f3f7e9;
  padding: 1rem 0px;
  color: #7a3241;
  border-radius: 10px 10px 0px 0px;
}
.rr-main-heading-image-container {
  text-align: center;
  width: 20%;
}
.rr-main-heading-image-container,
.rr-main-heading-text {
  display: inline-block;
}
.rr-main-heading-image-container {
  margin-left: 4rem;
}
.rr-main-heading-text {
  text-align: left;
  margin-left: 4rem;
  vertical-align: middle;
}
.btn-readmore {
  background-color: #91b32e;
  color: #fff;
  width: 100px;
  border: 0;
  transition: background-color 0.8s ease-in-out;
}
.btn-readmore:hover {
  background-color: #6f8c08;
}
.rr-main-heading-text .sub-title {
  font-size: 2rem;
}
.rr-main-heading-image img {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 7rem;
  vertical-align: middle;
  width: 90%;
  display: inline-block;
}
.rr-content-container {
  background-color: transparent;
  max-width: 90%;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
}
.rr-content-type {
  font-size: 75%;
  color: #add071;
  margin-bottom: 0.5rem;
}
a.rr-content-title {
  color: #7a3241;
  text-decoration: none;
}
.rr-bottom-content {
  margin-left: 2rem;
  max-width: 90%;
}
.rr-bottom-content span {
  display: inline-block;
  margin-right: 1rem;
}
.fa-thumbs-up,
.fa-comment {
  color: #93c333;
  margin-right: 0.2rem;
}
.read-more {
  font-size: 90%;
  color: #b2b2b2;
}
.check-circle {
  color: #00a0bc;
}
.fa-check-circle {
  margin-right: 0.2rem;
}
.expert-btn {
  margin-top: 3%;
  width: 100% !important;
  padding: 1rem 0 !important;
}
@media only screen and (max-width: 600px) {
  .rr-container {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .rr-section-container {
    margin-top: -1rem;
  }
  .rr-content-title {
    font-size: 90%;
  }
  .rr-main-heading-image-container {
    margin-left: 2rem;
  }
  .rr-main-heading-text {
    margin-left: 1.1rem;
  }
  .rr-main-heading-text .title {
    font-size: 70%;
  }
  .rr-main-heading-text .sub-title {
    font-size: 1.2rem;
  }
  .rr-bottom-content span {
    font-size: 80%;
  }
  .fa-thumbs-up,
  .fa-comment {
    font-size: 80%;
  }
  .read-more {
    font-size: 80%;
  }
  .check-circle {
    font-size: 80%;
  }
  .fa-check-circle {
    font-size: 80%;
  }
  .rr-bottom-content {
    margin-left: 2rem;
    max-width: 90%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 799px) {
  .rr-container {
    margin: 0 auto;
    margin-top: 80px;
  }
}
</style>
