<template>
<div>
  <ProfileSideBarLayout>
  <div class="sector">
    <div>
      <div class="raised">
        <form class="data" enctype="multipart/form-data">
          <h5 class="text-center title">Update Profile</h5>
          <div class="ourform">
            <div
              class="base-image-input"
              :style="{ 'background-image': `url(${imageData})` }"
              @click="chooseImage"
            >
              <span v-if="!imageData" class="placeholder">Upload a Photo</span>
              <input class="file-input" id="file" ref="fileInput" type="file" @input="onSelectFile">
            </div>
            <h5
              class="text-center mt-2 upload"
              onclick="document.getElementById('file').click();"
            >Upload a Photo</h5>
            <label class="Personal Details" for="Names">Personal Details</label>
            <div class="form-row details">
              <div class="col-md-6 first-name">
                <input
                  type="text"
                  v-model="$v.firstName.$model"
                  class="form-control"
                  placeholder="First Name"
                >
              </div>
              <div class="col-md-6 last-name">
                <input
                  type="text"
                  v-model="$v.lastName.$model"
                  class="form-control"
                  placeholder="Last Name"
                >
              </div>
            </div>
            <!-- firstName validator-messages -->
            <div class="update-error">
            <p v-if="$v.firstName.$error" class="error-message">
              <span class="" v-if="!$v.firstName.required">First Name is required</span>
              <span class="" v-else-if="!$v.firstName.alpha">First Name must be all Alphabets</span>
              <span
                class=""
                v-else-if="!$v.firstName.maxLength"
              >maximum length of 15 characters for First Name</span>
            </p>
            <!-- lastName validator-messages -->
            <p v-else-if="$v.lastName.$error" class="error-message">
              <span class="" v-if="!$v.lastName.required">Last Name is required</span>
              <span class="" v-else-if="!$v.lastName.alpha">Last Name must be all Alphabets</span>
              <span
                class=""
                v-else-if="!$v.lastName.maxLength"
              >maximum length of 15 characters for Last Name</span>
            </p>
            </div>

            <!-- Dairy options -->
            <div class="form-group">
              <select class="form-control" v-model="accountType">
                <option> Potential Dairy Farmer </option>
                <option> Dairy Farmer </option>
                <option> Input Seller </option>
                <option> Service Provider</option>
              </select>
            </div>
            <!-- County options -->
            <div class="country">
              <select class="form-control" v-model="county">
                <option
                  v-for="county in counties"
                  v-bind:key="county"
                  v-bind:value="county"
                  :selected='option ===  $v.county'
                >{{county}}</option>
              </select>
            </div>

            <!-- Pin fields -->
            <label id="pin">Reset PIN</label>
            <div class="row mt-2 password">
              <div class="col-md-4 mt-0 mb-3 col-sm-12 old-password">
                <input
                  type="password"
                  class="form-control"
                  v-model="$v.oldPassword.$model"
                  placeholder="Current PIN"
                >
              </div>
              <div class="col-md-4 mt-0 mb-3 col-sm-12">
                <input
                  type="password"
                  class="form-control"
                  v-model="$v.password.$model"
                  placeholder="New PIN"
                >
              </div>
              <div class="col-md-4 mt-0 mb-3 col-sm-12">
                <input
                  type="password"
                  class="form-control"
                  v-model="$v.confirmPassword.$model"
                  placeholder="Confirm New PIN"
                >
              </div>
            </div>
            <!-- Pin validator-messages -->
          <div class="update-error">
            <p v-if="$v.oldPassword.$error" class="error-message">
              <span class="mt-1" v-if="!$v.oldPassword.required ">Current PIN is required</span>
              <span class="mt-1" v-else-if="!$v.oldPassword.integer">Current PIN must be an digit</span>
              <span
                class="mt-1"
                v-else-if="!$v.oldPassword.minLength"
              >Current PIN must be up to 4 characters</span>
              <span
                class="mt-1"
                v-else-if="!$v.oldPassword.maxLength"
              >Current PIN should not be more than 4 character</span>
            </p>
            <p v-else-if="$v.password.$error" class="error-message">
              <span class="mt-1" v-if="!$v.password.required ">New PIN is required</span>
              <span class="mt-1" v-else-if="!$v.password.integer">New PIN must be a digit</span>
              <span class="mt-1" v-else-if="!$v.password.minLength">New PIN must be up to 4 characters</span>
              <span
                class="mt-1"
                v-else-if="!$v.password.maxLength"
              >New PIN should not be more than 4 character</span>
            </p>
            <!-- Confirm Pin validtor messages -->
               <span
              class="error-message"
              v-else-if="$v.confirmPassword.$error && !$v.confirmPassword.sameAs"
            >Confirm new PIN must same as new PIN</span>
            <span
              id="result"
              v-else-if="getUserUpdateStatus.updateError"
            >{{getUserUpdateStatus.updateError}}</span>
            </div>
            <!-- <br> -->
            <button type="button" class="btn col-md-12 mb-3" @click="updateProfile">
              <font-awesome-icon v-if="getUserUpdateStatus.userUpdateStatus" icon="spinner" spin/>
              <span v-else icon="spinner">Update Profile</span>
            </button>
          <div v-if="updatedMessage">
            <p id="success" v-if="getUserUpdateStatus.updateSuccess">{{getUserUpdateStatus.successMessage}}</p>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </ProfileSideBarLayout>
</div>
</template>

<script>
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout'
import kenyaCountiesMixin from '@/mixins/kenyaCountiesMixin'
import { mapActions, mapGetters } from 'vuex'
import {
  required,
  minLength,
  integer,
  maxLength,
  sameAs,
  alpha
} from 'vuelidate/lib/validators'
import { setTimeout } from 'timers'
export default {
  name: 'UserProfile',
  file: null,
  components: {
    ProfileSideBarLayout
  },
  data () {
    return {
      firstName: '',
      lastName: '',
      county: 'others',
      oldPassword: '',
      password: '',
      confirmPassword: '',
      accountType: 'I am a dairy farmer',
      imageData: null,
      updatedMessage: false,
      option: null,
      file: null
    }
  },

  async created () {
    await this.userDetails()
    this.getUserUpdateStatus.updateError = ''
    this.getUserUpdateStatus.successMessage = ''
    const details = this.getUserUpdateStatus.getUserDetails || {}
    if (details) {
      this.firstName = details.first_name
      this.lastName = details.last_name
      this.accountType = details.account_type
      if (details.county) {
        this.county = details.county
      }
      this.imageData = details.profile.pic
    }
  },
  computed: {
    ...mapGetters(['getUserUpdateStatus'])
  },
  watch: {
    oldPassword (newData, oldData) {
      this.getUserUpdateStatus.updateError = ''
    },
    getUserUpdateStatus (newData, oldData) {
      if (this.getUserUpdateStatus.successMessage) {
        this.updatedMessage = true
        setTimeout(() => {
          this.updatedMessage = false
          this.getUserUpdateStatus.successMessage = ''
        }, 4000)
      }
    }
  },
  methods: {
    ...mapActions(['editUser', 'userDetails']),
    chooseImage () {
      this.$refs.fileInput.click()
    },
    onSelectFile () {
      const input = this.$refs.fileInput
      const files = input.files
      if (files && files[0]) {
        this.file = files[0]
        const reader = new FileReader()
        reader.onload = e => {
          this.imageData = e.target.result
        }
        reader.readAsDataURL(files[0])
        this.$emit('input', files[0])
      }
    },
    updateProfile () {
      const data = new FormData()
      data.append('first_name', this.firstName)
      data.append('last_name', this.lastName)
      data.append('account_type', this.accountType)
      data.append('county', this.county)
      data.append('_method', 'put')
      if (this.oldPassword) {
        data.append('old_password', this.oldPassword)
      }
      if (this.password) {
        data.append('password', this.password)
      }
      if (this.file) {
        data.append('pic', this.file)
      }
      this.editUser(data)
    },
    renderMessage (message) {
      return message
    }
  },
  mixins: [kenyaCountiesMixin],
  validations: {
    firstName: {
      required,
      alpha,
      maxLength: maxLength(15)
    },
    lastName: {
      required,
      alpha,
      maxLength: maxLength(15)
    },
    accountType: {},

    password: {
      required,
      integer,
      minLength: minLength(4),
      maxLength: maxLength(4)
    },
    oldPassword: {
      required,
      integer,
      minLength: minLength(4),
      maxLength: maxLength(4)
    },
    confirmPassword: {
      sameAs: sameAs('password')
    }
  }
}
</script>

<style scoped>
.btn {
  background-color: #a3c34e;
  color: white;
}
.raised {
  -webkit-box-shadow: 0px 0px 15px rgba(194, 240, 68, 0.4);
  box-shadow: 0px 0px 15px rgba(194, 240, 68, 0.4);
  border-radius: 12px;
  background-color: white;
}
.sector {
  max-width: 650px;
  margin-top: 50px;
  margin-bottom: 200px;
}
.dropbox {
  margin-bottom: 40px;
}
.update-error {
  min-height: 23px;
  font-size: 0.7em;
}
p {
  margin-top: 0px;
  margin-bottom: 0rem;
}

.title {
  background: 5px rgb(234, 239, 208);
  padding: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #480010;
  font-size: 1.2rem;
}
label {
  display: inline-block;
  margin-bottom: -0.5rem;
  color: #480010;
  padding-bottom: 15px;
}
#pin {
  margin-bottom: -16px;
}
.upload {
  color: #a3c34e;
  cursor: pointer;
  margin-bottom: 27px;
}
.country {
  margin-bottom: 26px;
  font-size: 12px;
  margin-top: 33px;
}
.details {
  margin-bottom: 14px;
}
.error-message {
  color: red;
}
#success {
  color: green;
  text-align: center;
  font-weight: 14px;
  font-size: 14px;
  padding-bottom: 17px;
}
.ourform {
  margin: 60px;
  background-color: white;
  margin-top: 10px;
}
.form-control {
  font-size: 13px !important;
  height: 48px;
}
#result {
  color: red;
  text-align: center;
  font-weight: 14px;
  font-size: 14px;
}
.base-image-input {
  display: block;
  width: 170px;
  height: 170px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 25px;
  margin-top: 25px;
  background-color: #a3c34e;
}
.placeholder {
  background: #a3c34e;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  border-radius: 50%;
  font-family: Helvetica;
}
.placeholder:hover {
  background: #a3c34e;
}
.file-input {
  display: none;
}
.data {
  position: relative;
}
.old-password {
  padding-top: -1px;
}
.password {
  font-size: 12px;
}
@media only screen and (min-device-width: 800px) and (max-device-width: 1024px) {
  .sector {
    margin-right: 0px;
    margin-left: 0px;
  }
  .raised {
    -webkit-box-shadow: 0 0 20px rgb(234, 239, 208);
    box-shadow: 0 0 20px rgb(234, 239, 208);
    border-radius: 12px;
    background-color: white;
  }
}
@media only screen and (max-width: 600px) {
  .sector {
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 100px;
  }
  .ourform {
    margin: 25px;
    background-color: white;
  }
  .last-name {
    margin-top: 5%;
  }
  .title {
    font-size: 1rem;
  }
}
</style>
