<template>
  <nav class="navbar">
    <div>
      <router-link to="/onboarding">
        <img class="dairynomics-logo" src="~@/assets/logo.svg" />
      </router-link>
    </div>
    <div class="navitems-container">
      <ul class="navbar-items">
        <li v-if="isLoggedIn.status" class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-comment" />
            <span v-if="true" class='fa fa-circle notify-badge' />
          </a>
        </li>
        <li v-if="isLoggedIn.status" class="nav-item">
          <a class="nav-link bell-nav-icon-link" href="#" @click.prevent="toggleDropdown(notificationDropdown)">
            <i class="far fa-bell" />
            <span v-if="hasUnreadNotifications" class='fa fa-circle notify-badge new-notification' />
          </a>
          <DropDown
            v-if="activeDropdown===notificationDropdown"
            @hideDropdown="handleHideDropdown"
            :dropdownMenu="notifications"
            :dropdownType="notificationDropdown"
          />
        </li>
        <li class="nav-item user-nav-icon">
          <a class="nav-link user-nav-icon-link" href="#" @click.prevent="toggleDropdown(userDropdown)">
            <i class="fas fa-user user-nav-icon-link" v-if="!isLoggedIn.status" />
            <img class="user-nav-icon-link" :src="PROFILE_PIC" v-else />
          </a>
          <DropDown
            v-if="activeDropdown===userDropdown"
            @hideDropdown="handleHideDropdown"
            :dropdownMenu="userDropdownMenu"
            :dropdownType="userDropdown"
          />
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
import DropDown from '../ui/DropDown.vue'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'AppNavigationBar',

  components: {
    DropDown
  },

  data () {
    return {
      activeDropdown: null,
      profile_pic: ''
    }
  },

  computed: {
    ...mapGetters(['getNotifications', 'isLoggedIn', 'PROFILE_PIC']),

    userDropdown () {
      return 'user-dropdown'
    },

    notificationDropdown () {
      return 'notification-dropdown'
    },

    userLoggedInDropdownMenu () {
      return [
        {
          label: 'My Profile',
          iconClass: 'fa fa-user',
          name: 'profile'
        },
        {
          label: 'Edit Profile',
          iconClass: 'fas fa-user-edit',
          name: 'editProfile'
        },
        {
          label: 'Log out',
          to: '/',
          iconClass: 'fa fa-power-off',
          name: 'logout'
        }
      ]
    },

    userLoggedOutDropdownMenu () {
      return [
        {
          label: 'Login',
          iconClass: 'fa fa-user',
          name: 'login'
        },
        {
          label: 'Signup',
          iconClass: 'fa fa-lock',
          name: 'signup'
        }
      ]
    },

    userDropdownMenu () {
      return this.isLoggedIn.status
        ? this.userLoggedInDropdownMenu
        : this.userLoggedOutDropdownMenu
    },

    hasUnreadNotifications () {
      return this.getNotifications.notifications.some(notification => notification.viewed === '0')
    },

    notifications () {
      return this.getNotifications.notifications.map(notification => ({
        label: notification.title,
        isRead: notification.viewed,
        iconClass: (notification.viewed === '1' ? 'fa fa-clipboard' : 'fa fa-mobile'),
        name: notification.references,
        referenceId: notification.reference_id
      }))
    }
  },

  watch: {
    isLoggedIn (newVal) {
      newVal.status && this.fetchNotifications()
    }
  },

  created () {
    this.profile_pic = this.PROFILE_PIC
    if (this.isLoggedIn.status) {
      this.fetchNotifications()
      this.$store.dispatch('GET_USER_PROFILE')
    }
  },

  methods: {
    ...mapActions(['fetchNotifications', 'markAsRead']),

    handleHideDropdown () {
      this.activeDropdown = null
    },

    toggleDropdown (dropdownType) {
      if (this.activeDropdown === dropdownType) {
        return this.handleHideDropdown()
      }

      if (dropdownType === this.notificationDropdown && this.hasUnreadNotifications) {
        this.markAsRead()
      }

      this.activeDropdown = dropdownType
    }
  }
}
</script>

<style scoped>
.navbar {
  position: fixed;
  height: 80px;
  line-height: 10px;
  width: 100%;
  z-index: 2;
  background-color: #FFF !important;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  padding: 0 3rem;
}

.dairynomics-logo {
  width: 15rem;
}

.navbar-items {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-items li {
  font-size: 20px;
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
}

.navbar-items li:last-child {
  margin-right: 0;
}

.navbar-items a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-nav-icon {
  border-radius: 50%;
}

.user-nav-icon-link {
  background-color: #90B42E;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
}

.user-nav-icon i {
  color: #FFF;
}

.notify-badge {
  position: absolute;
  font-size: 12px;
  color: red;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 0 1rem;
  }

  .dairynomics-logo {
    width: 13rem;
  }
}

@media only screen and (max-width: 490px) {
  .dairynomics-logo {
    width: 10rem;
  }

  .navbar-items li {
    margin-right: 1.2rem;
  }

  .navbar-items i {
    font-size: 90%;
  }
}

@media only screen and (max-width: 370px) {
  .navbar {
    padding: 0 0.5rem;
  }

  .dairynomics-logo {
    width: 9rem;
  }

  .navbar-items li {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
  }
}
</style>
