<template>
  <div>
    <div class="switcher text-center" v-if="USER_PROFILE.is_expert == 0">
      <AppTab
        v-for="tab in tabs"
        :key="tab.name"
        :name="tab.name"
        :icon="tab.imageUrl"
        :activeIcon="tab.activeImage"
        :pageName="tab.pageName"
      />
    </div>
    <div class="switcher text-center" v-else>
      <AppTab
        v-for="tab in setExpertTabs"
        :key="tab.name"
        :name="isInputSeller && tab.name === 'My Updates' ? 'My Products' : tab.name"
        :icon="isInputSeller && tab.name === 'My Updates' ? ProductsImg : tab.imageUrl"
        :activeIcon="isInputSeller && tab.name === 'My Updates' ? activeProducts : tab.activeImage"
        :pageName="tab.pageName"
      />
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import AppTab from './AppTab'
import recommendationsImg from '@/assets/1-recommendation.svg'
import activeRecommendations from '@/assets/2-recommendation.svg'
import updatesImg from '@/assets/5-updates.svg'
import activeUpdates from '@/assets/6-updates.svg'
import livestockImg from '@/assets/3-livestock.svg'
import activeLivestock from '@/assets/4-livestock.svg'
import expertsImg from '@/assets/4-experts.svg'
import activeExperts from '@/assets/5-experts.svg'
import publicationsImg from '@/assets/2-publications.svg'
import activePublications from '@/assets/3-publications.svg'
import blogsImg from '@/assets/6-blogs.svg'
import activeBlogs from '@/assets/7-blogs.svg'
import farmsImg from '@/assets/7-farms.svg'
import activeFarms from '@/assets/8-farms.svg'
import testsImg from '@/assets/8-test.svg'
import activeTests from '@/assets/9-test.svg'
import ProductsImg from '@/assets/9-Products.svg'
import activeProducts from '@/assets/10-Products.svg'
export default {
  name: 'MainSwitcher',
  data() {
    return {
      expertTabs: [
        {
          name: 'My Updates',
          imageUrl: recommendationsImg,
          activeImage: activeRecommendations,
          pageName: 'UserProfileIndex'
        },
        {
          name: 'all updates',
          imageUrl: updatesImg,
          activeImage: activeUpdates,
          pageName: 'AllUpdates'
        }
      ],
      tabs: [
        {
          name: 'recommendations',
          imageUrl: recommendationsImg,
          activeImage: activeRecommendations,
          pageName: 'UserProfileIndex'
        },
        {
          name: 'updates',
          imageUrl: updatesImg,
          activeImage: activeUpdates,
          pageName: 'AllUpdates'
        },
        {
          name: 'All Products',
          imageUrl: ProductsImg,
          activeImage: activeProducts,
          pageName: 'Products'
        },
        {
          name: 'livestock',
          imageUrl: livestockImg,
          activeImage: activeLivestock,
          pageName: 'LivestockListingIndex'
        },
        {
          name: 'experts',
          imageUrl: expertsImg,
          activeImage: activeExperts,
          pageName: 'ExpertList'
        },
        {
          name: 'publications',
          imageUrl: publicationsImg,
          activeImage: activePublications,
          pageName: 'FeaturedPublications'
        },
        {
          name: 'blogs',
          imageUrl: blogsImg,
          activeImage: activeBlogs,
          pageName: 'blog'
        },
        {
          name: 'farms',
          imageUrl: farmsImg,
          activeImage: activeFarms,
          pageName: 'farm'
        },
        {
          name: 'tests',
          imageUrl: testsImg,
          activeImage: activeTests,
          pageName: 'ProfileTests'
        }
      ],
      ProductsImg,
      activeProducts
    }
  },
  components: {
    AppTab
  },
  computed: {
    ...mapGetters(['USER_PROFILE']),
    setExpertTabs(state) {
      let filteredTabs = this.tabs.filter(
        tab =>
          tab.name !== 'recommendations' &&
          tab.name !== 'tests' &&
          tab.name !== 'updates'
      )
      return [...this.expertTabs, ...filteredTabs]
    },
    isInputSeller() {
      return (
        this.USER_PROFILE &&
        this.USER_PROFILE.account_type === 'I am an input seller'
      )
    }
  }
}
</script>

<style scoped>
.switcher {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-auto-rows: 100px;
  margin-top: 30px;
}
@media only screen and (max-width: 900px) {
  .switcher {
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-auto-rows: 60px;
  }
}
</style>
