<template>
  <div class="single-blog-details">
    <Spinner v-show="getBlogInfo.loadingState" />
    <div v-show="!getBlogInfo.loadingState">
      <div class="card border-0">
        <img :src="getBlogInfo.blog['photo']">
        <div v-html="getBlogInfo.blog.body" class="card-body1"></div>
      </div>
      <div class="card border-0">
        <div class="card-header">
          <span id="like-section">
            <i id="unlike" v-show="!onchange" @click ="likeBlog(getBlogInfo.blog.id)" class="far fa-thumbs-up"></i>
            <i v-show="onchange" @click="unLikeBlog(getBlogInfo.blog.id)" id="like" class="fas fa-thumbs-up"></i>
            {{getBlogInfo.blog.likes}}
          </span>
          <span id="comment-section">
            <i id="comment" class="far fa-comment"></i>
            {{getBlogInfo.blog.number_of_comments}}
          </span>
          <SocialShare
            :fbTwittertext="getBlogInfo.blog.body"
            :itemUrl="facebook_url"
            :whatsappText="whatsAppShareText"
            />
        </div>
        <!-- comments -->
        <CommentsBlock
          :comments="getBlogInfo.comments"
          v-on:submitReply="postCommentReply"
          v-on:submitComment="makeComment"
          v-on:deleteComment="deleteComment"
          :userId="userId"
          v-on:editComment="editComment"
          v-on:likeComment="likeComment"
        />
        <div class="card-body">
          <button id="go-back" @click="$router.go(-1)">
            <i class="fas fa-long-arrow-alt-left"></i>
             Go Back
          </button>
          <button id="next-article" @click="nextArticle" :disabled='getBlogInfo.buttonIsDisabled'>Next Article
          <i class="fas fa-long-arrow-alt-right"></i>
        </button>
        </div>
    </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import moment from 'moment'
import SocialShare from '@/components/ui/SocialShare'
import CommentsBlock from '@/components/ui/CommentsBlock/CommentsBlock'
import Spinner from '@/components/ui/Spinner'

export default {
  data () {
    return {
      currentPageNumber: 1,
      description: 'A blog post about some stuff',
      moment: moment,
      userId: localStorage.getItem('userId'),
      edit: true,
      facebook_url: window.location.href,
      commentBody: '',
      active: false,
      reply: '',
      isCommentActive: true,
      onchange: false,
      likedComments: []
    }
  },
  metaInfo () {
    return {
      meta: [
        {
          vmid: 'og:description',
          name: 'og:description',
          content: this.description
        },
        {
          vmid: 'og:image',
          name: 'og:image',
          content: this.getBlogInfo.blog.photo
        }
      ]
    }
  },
  components: {
    SocialShare,
    CommentsBlock,
    Spinner
  },
  computed: {
    ...mapGetters(['getBlogInfo', 'getBlogs']),
    whatsAppShareText () {
      let text = `${this.getBlogInfo.blog.body} ${this.currentUrl}`
      return encodeURI(text)
    },
    photo () {
      return this.getBlogInfo.blog['photo']
    }
  },
  watch: {
    getBlogInfo (newdata) {
      if (newdata.likeBlogUserIds.includes(this.userId)) {
        this.onchange = true
      } else {
        this.onchange = false
      }
    },
    $route (to) {
      this.getSingleBlog({ blogId: to.params.id })
    }
  },
  methods: {
    ...mapActions([
      'getAllBlogs',
      'getComments',
      'postComment',
      'postReply',
      'removeReply',
      'setBlogId',
      'likeSingleReply',
      'unlikeSingleReply',
      'likeSingleComment',
      'unLikeSingleComment',
      'getReplyLikes',
      'getBlogLikes',
      'likeSingleBlog',
      'unLikeSingleBlog',
      'removeComment',
      'selectedCommentId',
      'editCommentAction',
      'getSingleBlog'
    ]),
    ...mapMutations([
      'updateCommentId',
      'updateCommentReplyId',
      'updateCommentId',
      'setComments',
      'setBlogId',
      'setBlog'
    ]),
    nextArticle () {
      let currentArticle = this.$route.params.id
      const { blogsPerPage, blogIds } = this.getBlogInfo
      let currentPosition = blogIds.indexOf(currentArticle)

      // Prefetch blog ids from the next page if available
      if (blogsPerPage - currentPosition === 3) {
        this.getAllBlogs({ pageNumber: this.currentPageNumber + 1 })
      } else {
        const { currentpage } = this.getBlogs
        this.getAllBlogs({ pageNumber: currentpage })
      }
      return this.$router.push(`/blogs/${blogIds[currentPosition + 1]}`)
    },
    deleteComment (comment, reply) {
      this.updateCommentId(comment.id)
      if (reply && reply.id) {
        return this.deleteReply(reply.id)
      }
      this.removeComment(comment.id)
    },
    makeComment (e, commentBody) {
      const comment = this.commentBody || commentBody
      if (comment.trim().length !== 0) {
        this.postComment(comment)
        this.commentBody = ''
      }
    },
    editComment (commentId, comment, isReply) {
      if (isReply) {
        this.updateCommentId(commentId)
        return this.editCommentAction({ commentId, comment })
      }
    },
    postCommentReply (commentId, reply) {
      if (reply.trim().length !== 0) {
        this.updateCommentReplyId(commentId)
        this.updateCommentId(commentId)
        this.postReply(reply)
        this.reply = ''
      }
    },
    likeReply (replyId) {
      this.likeSingleReply(replyId)
    },
    likeBlog (blogId) {
      this.likedBlogId = blogId
      this.likeSingleBlog(blogId)
    },
    unLikeBlog (blogId) {
      this.unLikeSingleBlog(blogId)
      this.likedBlogId = ''
    },
    isLikedComment (comment) {
      if (!comment.user_likes) {
        comment.user_likes = []
      }
      return comment.user_likes.includes(this.userId)
    },
    handleLikingComment (comment) {
      if (this.isLikedComment(comment)) {
        return this.unlikeComment(comment.id)
      }
      this.likeSingleComment(comment.id)
    },
    handleLikingReply (comment) {
      if (this.isLikedComment(comment)) {
        return this.unlikeReply(comment.id)
      }
      this.likeReply(comment.id)
    },
    likeComment (comment, reply) {
      if (reply) {
        return this.handleLikingReply(comment)
      }
      this.handleLikingComment(comment)
    },
    unlikeComment (commentId) {
      this.likedComments = this.likedComments.filter(com => com !== commentId)
      this.unLikeSingleComment(commentId)
    },
    unlikeReply (replyId) {
      this.unlikeSingleReply(replyId)
    },
    deleteReply (replyId) {
      this.removeReply(replyId)
    }
  },
  mounted () {
    const currentPage = this.getBlogs.currentpage || 1
    this.getAllBlogs({ pageNumber: currentPage })
    this.setBlogId(this.$route.params.id)
    this.getSingleBlog({ blogId: this.$route.params.id })
    if (this.getBlogInfo.likeBlogUserIds.includes(this.userId)) {
      this.onchange = true
    } else {
      this.onchange = false
    }
  }
}
</script>
<style scoped>
.card-body1 {
  margin: 45px;
  border: none;
  border-color: #fff;
}
.nav {
  color: #5d1623;
}
.card-header {
  background-color: #ffff;
  height: 50px;
}
.header-text {
  margin-left: 28%;
  margin-top: -11%;
}
.header-text #header-2 {
  font-family: 'Comfortaa-Bold';
}
.nav-link {
  color: #5d1623;
}
.nav-link:active {
  text-decoration: underline;
  text-decoration-color: #94b93a;
}
.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #94b93a;
}
#like {
  color: #94b93a;
  cursor: pointer;
}
#like-section {
  color: black;
}
#unlike {
  color: #94b93a;
  cursor: pointer;
}
#comment-field {
  margin-left: 10%;
  margin-top: -6%;
}
#comment-section {
  color: black;
}
.response {
  margin-left: 3%;
}
#figure {
  margin-top: -3.5%;
  margin-left: 3.7%;
}
#figure2 {
  margin-top: -3.9%;
  margin-left: 3.7%;
}
.card-title {
  font-size: 10px;
  color: #94b93a;
}
.card-body {
  background-color: #f4f7ea;
  border-color: #fff;
  margin-bottom: -8%;
  display: flex;
  justify-content: space-between;
}

#card-text {
  margin-left: 50px;
}
.card-reply {
  margin-left: 11%;
  margin-top: 3%;
}
#post {
  margin-top: -25px;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
#facebook {
  float: right;
  margin-right: 15px;
  background-color: #fff;
  color: #0431b4;
}
#twitter {
  float: right;
  margin-right: 15px;
  color: #00bfff;
}
#share {
  float: right;
  margin-right: 15px;
  color: black;
  font-family: 'Comfortaa-light';
  font-size: 12px;
  margin-top: 3px;
}
#whatsapp {
  float: right;
  color: #94b93a;
}
#user {
  float: left;
  width: 5%;
  height: 6%;
  margin-left: -5px;
}
#user1 {
  float: left;
  width: 10%;
  height: 6%;
  margin-left: -5px;
}
.comment-action {
  font-size: 12px;
  cursor: pointer;
  color: #966e6e;
  padding-left: 4px;
}
#comment {
  color: #94b93a;
  margin-left: 5%;
  padding-right: 6px;
}

#comment-rely {
  border: none;
  border-radius: 5px;
  width: 85%;
  margin-left: 2%;
  resize: none;
  padding-left: 25px;
  padding-top: 10px;
}
.card {
  width: 100%;
  border-radius: 0px;
  margin-top: 3px;
  box-shadow: 0 4px 8px 0 rgba(244, 247, 234),
    0px 1px 10px 0px rgba(162, 203, 25, 0.12);
}
.reply-group {
  display: inline-block;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 5%;
}
.comment-text {
  font-family: 'Comfortaa-light';
}
.reply-data {
  margin-left: 8%;
}
.reply-text {
  margin-top: 2%;
}
.replies {
  margin-left: 6%;
}
#editable-reply {
  border-color: olivedrab;
  border-radius: 5px;
  width: 380px;
  margin-left: -5%;
  margin-top: -6%;
  height: auto;
}
#editable-comment {
  border-color: olivedrab;
  border-radius: 5px;
  width: 97%;
  margin-left: 2%;
  height: auto;
  padding-top: 10px;
}
.editable-comment-reaction {
  margin-left: 77%;
}
.reply-buttons {
  float: right;
  margin-right: 14%;
  margin-top: 1%;
  margin-bottom: 5%;
}
.reply-actions {
  margin-bottom: 5%;
}
#edit-button {
  border: none;
  border-radius: 2px;
  background-color: olivedrab;
  color: white;
  font-size: 12px;
  widows: auto;
}
#edit-button1 {
  border: none;
  border-radius: 2px;
  background-color: olivedrab;
  color: white;
  font-size: 12px;
  widows: auto;
}
#cancel-button {
  border: none;
  border-radius: 2px;
  color: white;
  background-color: #848484;
  font-size: 12px;
  widows: auto;
}

#cancel-button1 {
  border: none;
  border-radius: 2px;
  color: white;
  background-color: #848484;
  font-size: 12px;
  widows: auto;
}

.comment-data {
  margin-top: -1px;
  margin-left: 6%;
}
#commenter-name {
  font-family: 'Comfortaa-Bold';
}
#next-article,
#go-back {
  background-color: inherit;
  color: #90b42f;
  font-size: 12px;
  border-radius: 1.4rem;
  outline: none;
  border: solid 0.1rem #88af00;
  width: 8.5rem;
  height: 2.5rem;
}
#next-article:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
#go-back:hover {
  background: #90b42f;
  color: white;
}
#next-article:hover {
  background: #90b42f;
  color: white;
}
@media screen and (max-width: 600px) {
  #comment-rely {
    border: none;
    border-radius: 5px;
    width: 85%;
    resize: none;
    padding-top: 10px;
  }

  .card-body {
    margin-bottom: -12%;
  }
  #user1 {
    width: 5%;
  }
  #user {
    margin-top: 1%;
  }
  .reply-group {
    display: inline-block;
    margin-top: 3%;
  }
  #editable-reply {
    border-radius: 5px;
    width: 280px;
    margin-left: -15%;
    height: auto;
    padding-top: 10px;
  }
  .reply-buttons {
    float: right;
    margin-right: 40px;
    margin-bottom: 7%;
  }
  .card {
    width: 100%;
    border-radius: 0px;
    margin-top: 3px;
    box-shadow: 0 4px 8px 0 rgba(244, 247, 234),
      0px 1px 10px 0px rgba(162, 203, 25, 0.12);
  }
  .editable-comment-reaction {
    margin-left: 60%;
  }
}
</style>
