<template>
  <div class="publication-header">
    <span :class="navItemStyle('FeaturedPublications')" @click="viewFeatured()">Featured Publications</span>
    <span :class="navItemStyle('AllPublications')" @click="viewAllPublications()">All Publications</span>
  </div>
</template>

<script>
export default {
  methods: {
    viewFeatured () {
      return this.$router.push({name: 'FeaturedPublications'})
    },
    viewAllPublications () {
      return this.$router.push({name: 'AllPublications'})
    },
    navItemStyle (itemName) {
      const navStyle = this.$route.name === itemName ? 'publication-list active' : 'publication-list'
      return navStyle
    }
  }
}
</script>

<style scoped lang="scss">
.publication-header {
  text-align: left;
  width: 100%;
  margin-right: 2px;
  margin-bottom: 30px;
  padding: 20px;
}
.publication-list {
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  color: #7a3241;
  cursor: pointer;
  margin-bottom: 20px;
}
.publication-list.active {
  border-bottom: 1px solid #90b32f;
}

// tablets portrait
@media only screen and (min-width: 40em) {
  .publication-header {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0px;
  }
}

// large screens - tablets landscape and desktop
@media only screen and (min-width: 60em) {
  .publication-header {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0px;
  }
}

@media screen and (max-width: 734px){
  .publication-header{
    padding: 10px;
    margin-bottom: 10px;
  }
  .publication-list{
    margin: 0px 5px 0px 0px;
    font-size: 0.8em;
  }
}
</style>
