<template>
<div class="container" >
<Spinner v-if="this.isLoading" />
<div v-else>
<div class="user-profile ">
<div class="profile-header">
  <div class="">
    <span class ="title-text">{{publicationGetter.data.title}}</span>
    <h5 class="expert-category mt-2">
      <i class="fas fa-file-download" style="color:#88af00">
        </i> Downloads: {{publicationGetter.data.download_count}}
    </h5>
  </div>
</div>
<div class="details">
 <div class="row general col-md-12">
     <div class="col-md-6 image">
     <img :src="publicationGetter.data.thumbnail" alt="" />
     </div>
     <div class="col-md-6 expert-details">
       <div>
         Topic <br>
         <span class="topic-text">
         {{publicationGetter.data.topic}}
         </span>
       </div>
       <p>
       <div class="author-details">
         Author:
         <span>
         {{publicationGetter.data.author}}
         </span>
       </div>
        <div v-if="publicationGetter.data.description" v-html="publicationGetter.data.description" class="description-text">
        </div>
    </div>
</div>
<br>
    <div @click="downloadPub()" class="contact-button">
      <ContactButton :buttonDetails="Download" />
    </div>
</div>
</div>
  <div v-if="downloadError" class="text-danger">Failed to download</div>
 <a href="#" class="other-experts" @click="viewFeatured()">Other Similar Publications <i class="fas fa-long-arrow-alt-right"></i></a>
</div>
</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ContactButton from '@/components/ui/ContactButton'
import Spinner from '@/components/ui/Spinner'
export default {
  name: 'ExpertUserProfile',
  data () {
    return {
      Download: '<i class="fas fa-file-download"></i> <span icon="">Download</span>'
    }
  },
  components: {
    ContactButton,
    Spinner
  },
  computed: {
    ...mapGetters(['publicationGetter', 'downloadGetter', 'downloadLoader', 'downloadError', 'isLoading'])
  },
  watch: {
    downloadLoader (newValue, oldValue) {
      if (newValue) {
        this.Download = '<i class="fas fa-spinner fa-spin"/>'
      } else {
        this.Download = '<i class="fas fa-file-download"></i> <span icon="">Download</span>'
      }
    }
  },
  methods: {
    downloadPub () {
      const publicationDetails = this.publicationGetter.data
      this.downloadPublication(publicationDetails)
    },
    viewFeatured () {
      return this.$router.push({name: 'FeaturedPublications'})
    },
    ...mapActions(['singlePublication', 'downloadPublication'])
  },
  created () {
    const publicationId = this.$route.params.id
    this.singlePublication(publicationId)
  }

}
</script>

<style scoped>
.container {
  overflow: hidden;
  padding: 0 20px 20px 20px;
}
.text-danger {
  margin-top: -13px
}
.image {
  height: 80%;
}
img{
  display: block;
  width: 70%;
  border: 1px solid #ddd;
  height: 85%;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  margin: auto;
  margin-top: 25px;

}
.expert-details{
  color:#580010;
  padding-top: 5%;
  padding-left: 0px;
}
.topic-text {
  color: #88af00;
  display: block;
  width: 90%;
}
.author-details {
  font-size: 14px;
}
.description-text{
  background-color: #F5F7EA;
  border-radius: 0.4rem;
  width: 90%;
  padding:15px;
  /* max-width: 20rem; */
  margin-top:20px;
  min-height: 20%;
  font-size: 14px;
 }
 .title-text {
   color:#580010;
   font: bold;
   font-size: 1.8em;

 }
.details{
  /* -webkit-box-shadow: 0 0 20px rgb(234, 239, 208); */
  box-shadow: 0 0 20px rgb(234, 239, 208);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  margin-top: 2%;
  /* box-shadow: 40px 0px 37px #88af0052; */
  background-color: white;

}
.message{
color:white;
background-color:#88af00;
border-radius:0px;
border-bottom-right-radius:9px;
border-bottom-left-radius:9px;
padding-bottom:30px;
margin-top:27px;
}
.expert-category{
   color: #b2b2b2
}
#user{
  color:black!important;
}
.general{
  /* max-height:450px; */
  margin-top:10px;
  padding: 0px
}
.names{
  width: 100%;
  margin-top:2%;
  background-color: white;
  margin-bottom:2px;
}
.specialist{
  border-right:3px solid #d5e2a3;
  padding-right:133px;
  color: #88af00;
}
.back{
    padding-left: 35px;
}
.other-experts{
  color: #88af00;
  text-align: center;
  font-size: 1.25rem;
  margin-left: 30%;
  /* margin-top: 100px; */
  /* margin-bottom: 300px; */
}
.back-button{
  color: #88af00;
  border: 1px solid #88af00;
  padding: 0px;
  width: 70%;
  border-radius: 40px
}
.download-button {
  height: 0px!important;
  width: 0px;
  padding: 0px !important;
}
.user-profile{
 margin:0 auto;
 margin-bottom: 20px;
}
.side-bar{
  height:100%;
  width:100%;
  background-color:grey;
}
.profile-header{
  display: grid;
  margin-top: 4%;
  width: 90%;
}
@media only screen and (min-device-width: 800px) and (max-device-width: 1024px) {
  /* ipad pro */
  .details {
    width: 100%;
  }
  .expert-details {
    padding-left: 30px;
  }
   .title-text {
   color:#580010;
   font: bold;
   font-size: 1.5em;
 }
  img {
    display: block;
    width: 80%;
    border: 1px solid #ddd;
    height: 100%;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    margin-top: 21px;
    margin-right: 10px;
  }
  .image {
    padding-left: 0px;
  }
  .contact-button {
    margin-top: 80px;
  }
  .description-text {
    width: 98%;
    padding: 15px;
    margin-top: 20px;
    font-size: 14px;
    color: #480010;
    position: relative;
    height: 60%;
    overflow: auto;

  }
}
@media only screen and (max-width: 799px) {
  /* ipad */
  .profile-header {
    margin-top: 21px;
    margin-right: 0px;
    display: block;
  }
  .description-text {
    background-color: #E9EFCD;
    border-radius: 0.4rem;
    width: 95%;
    padding: 5px;
    max-width: 20rem;
    margin-top: 10px;
    min-height: 20%;
    font-size: 13px;
    /* height: 50%; */
    overflow: auto;
  }
   .title-text {
   font-size: 1.8em;
 }
  .expert-details {
    margin-top: -8px;
    padding-left: 15px;
  }
  .user-experience {
    margin-top: 17px;
    position: relative;
  }
  .details {
    width: 100%;
    height: auto;
  }
  img {
    display: block;
    width: 90%;
    height: 274px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 21px;
    padding-right: -8px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .general {
    /* padding-left: 37px; */
    /* margin-bottom: 15px; */
  }
  .other-experts {
    color: #88af00;
    font-size: 22px;
    font-weight: 14px;
    margin-left: 25%;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .expert-detail-info {
    text-align: left;
  }
  .expert-category {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .container{
    padding: 10px;
  }
  .profile-header {
    margin-top: 21px;
    margin-right: 0px;
    display: block;
  }
   .title-text {
   font-size: 1.5em;

 }
  .description-text {
    background-color: #E9EFCD;
    border-radius: 0.4rem;
    width: 100%;
    padding: 10px;
    max-width: 20rem;
    margin-top: 10px;
    min-height: 20%;
    font-size: 13px;
    /* height: auto; */
    overflow: auto;
  }
  .col-md-6.image{
    padding: 0px 10px 10px 10px;
  }
  .expert-details {
    /* margin-top: -8px; */
    padding-left: 10px;
  }
  .user-experience {
    margin-top: 17px;
    position: relative;
  }
  .details {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
    height: 300px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 21px;
    padding-right: -8px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .general {
    /* margin-bottom: 15px; */
    margin: 0px !important;
    max-height: none !important;
    /* padding-left: 37px;
    margin-bottom: 15px;
    max-height: 100%; */
  }
  .other-experts {
    color: #88af00;
    font-size: 14px;
    font-weight: 14px;
    margin-left: 15%;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .expert-detail-info {
    text-align: left;
  }
  .expert-category {
    display: block;
  }

  .contact-button {
    margin-top: 10px;
    /* margin-top: 0 */
  }
  .information {
    font-size: 14px;
  }
  h3 {
    font-size: 15px;
  }
  h5 {
    font-size: 15px;
  }
  p {
    margin: 0;
  }
}
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3)
{
 img {
    display: block;
    width: 100%;
    height: 300px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 21px;
    padding-right: -8px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .description-text {
    background-color: #E9EFCD;
    border-radius: 0.4rem;
    width: 100%;
    padding: 5px;
    max-width: 20rem;
    margin-top: 10px;
    min-height: 20%;
    font-size: 13px;
  }
}
@media screen and (device-aspect-ratio: 40/71) {
  /* iphone 5/SE */
 img {
    height: 285px;
  }
  .title-text {
   font-size: 1.3em;

 }
}
@media screen and (device-aspect-ratio: 375/667) {
  /* iphone 6/7/8 */
img {
    height: 300px;
  }
}
@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {
       /* iphone X  */
      img {
    height: 300px;
  }
    }
</style>
