<template>
  <div class>
    <div>
      <ProfileSideBarLayout>
        <LivestockListingFrame
        :livestockListing="LIVESTOCK_LIST"
        :livestockMetaDetails="LIVESTOCK_META_DETAILS"
        :countyOptions="countyOptionsTransformed"
        :livestockTypesOptions="livestockTypesOptionsTransformed"
        :livestockBreedsOptions="livestockBreedsOptionsTransformed"
        />
      </ProfileSideBarLayout>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

import LivestockListingFrame from '@/pages/LivestockListing/LivestockListingFrame'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout'

export default {
  name: 'index',
  components: {
    LivestockListingFrame,
    ProfileSideBarLayout
  },
  computed: {
    ...mapState({
      LIVESTOCK_LIST: state => state.Livestock.livestock,
      LIVESTOCK_META_DETAILS: state => state.Livestock.metaDetails,
      countyOptions: state => state.expertList.counties,
      livestockTypesOptions: state => state.Livestock.livestockTypes,
      livestockBreedsOptions: state => state.Livestock.livestockBreeds
    }),
    livestockBreedsOptionsTransformed () {
      return this.livestockBreedsOptions.map(breed => {
        return {
          filterType: 'breed',
          filterValue: breed
        }
      })
    },
    livestockTypesOptionsTransformed () {
      return this.livestockTypesOptions.map(livestock => {
        return {
          filterType: 'animal',
          filterValue: livestock
        }
      })
    },
    countyOptionsTransformed () {
      return this.countyOptions.map(county => {
        return {
          filterType: 'market',
          filterValue: county.county
        }
      })
    }
  },
  methods: {
    ...mapActions([
      'FILTER_LIVESTOCK',
      'getCounties',
      'FETCH_LIVESTOCK_TYPES'
    ])
  },
  created () {
    this.FILTER_LIVESTOCK({
      filteredBy: {
        market: this.$route.query.market || '',
        breed: this.$route.query.breed || '',
        animal: this.$route.query.animal || ''
      },
      page: parseInt(this.$route.query.page, 10) || ''
    })
    this.getCounties()
    this.FETCH_LIVESTOCK_TYPES()
  }
}
</script>

<style>
</style>
