<template>
<div>
  <div class="ll-heading">
      <div class="livestock-heading">
        <h3 class="livestock-sale-text">Livestock On Sale</h3>
      </div>
  </div>
  <div class="select-fields-container" v-show="!expertId">
    <v-select
      :options="countyOptions"
      label="filterValue"
      placeholder="Select County"
      id="county-options"
      @input="setSelected"
      :disabled="isLoading"
      :clearable='false'
      :value="selectedMarket"
    />
    <v-select
      :options="livestockTypesOptions"
      label="filterValue"
      placeholder="Select Livestock"
      id="livestock-types-options"
      @input="setSelected"
      :disabled="isLoading"
      :clearable='false'
      :value="selectedAnimal"
    />
    <v-select
      :options="livestockBreedsOptions"
      id='livestock-breeds-options'
      label="filterValue"
      placeholder="Select Breed"
      @input="setSelected"
      :value="selectedBreed"
      :clearable='false'
      :disabled="isLoading || !livestockBreedsOptions.length"
    />
  </div>
  <div class="ll-frame">
    <Spinner v-if="isLoading" />
    <LivestockPhotoCard
    v-if="livestock.length && !isLoading"
    :livestockListing="livestockListing"
    />
    <div v-if="!livestock.length && !isLoading" class="note-message">
      <h3 class="note-message-text">No results found</h3>
    </div>
  </div>
  <div class="bottom-traversal-btns-container">
    <div class="livestock-previous-btn">
      <TraverseButton
        :traverseButtonDetails="traversePreviousButtonDetail"
        @click="handleTraversalButtonClick('previous')"
        v-show="currentPageNumber !== 1 && livestock.length && !isLoading"
      />
    </div>
    <div class="livestock-next-btn">
      <TraverseButton
        :traverseButtonDetails="traverseNextButtonDetail"
        @click="handleTraversalButtonClick('next')"
        v-show="livestockMetaDetails.current_page !== livestockMetaDetails.last_page && currentPageNumber !== maxNumberOfPages && livestock.length && !isLoading"
      />
    </div>
  </div>
</div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import vSelect from 'vue-select'
import AppButton from '@/components/ui/AppButton'
import LivestockPhotoCard from '@/pages/LivestockListing/LivestockPhotoCard'
import TraverseButton from '@/components/ui/TraverseButton'
import Spinner from '@/components/ui/Spinner'

export default {
  name: 'LivestockListingFrame',
  components: {
    AppButton,
    LivestockPhotoCard,
    TraverseButton,
    vSelect,
    Spinner
  },
  watch: {
    $route (to, from) {
      const { query } = to
      this.FILTER_LIVESTOCK({ filteredBy: { market: this.selectedMarket, breed: this.selectedBreed, animal: this.selectedAnimal }, page: query.page, expertId: this.expertId })
    }
  },
  computed: {
    ...mapState({
      isLoading: state => state.Livestock.isLoading,
      livestock: state => state.Livestock.livestock
    })
  },
  mounted () {
    this.getCounties()
  },
  props: {
    livestockListing: {
      type: Array,
      required: true
    },
    livestockMetaDetails: {
      type: Object,
      required: true
    },
    countyOptions: {
      type: Array,
      required: true
    },
    livestockTypesOptions: {
      type: Array,
      required: true
    },
    livestockBreedsOptions: {
      type: Array,
      required: true
    },
    expertId: {
      type: String
    }
  },

  created () {
    this.currentPageNumber = parseInt(this.$route.query.page, 10) || 1
    this.selectedMarket = this.$route.query.market || ''
    this.selectedBreed = this.$route.query.breed || ''
    this.selectedAnimal = this.$route.query.animal || ''
  },

  data () {
    return {
      traverseBackButtonDetails: '<i class="fas fa-long-arrow-alt-left"></i> Back',
      traverseNextButtonDetail: 'Next <i class="fas fa-long-arrow-alt-right"></i>',
      traversePreviousButtonDetail: '<i class="fas fa-long-arrow-alt-left"></i> Previous',
      currentPageNumber: 1,
      maxNumberOfPages: this.livestockMetaDetails.last_page,
      selectedMarket: '',
      selectedBreed: '',
      selectedAnimal: '',
      county: this.$route.query.market || '',
      breed: this.$route.query.breed || '',
      livestockType: this.$route.query.animal || '',
      url: this.expertId ? `/experts/${this.expertId}/livestocks` : `/livestock-listing`
    }
  },
  methods: {
    ...mapActions([
      'FILTER_LIVESTOCK',
      'SET_CACHED_PAGE',
      'SET_PARAMETER',
      'getCounties',
      'FETCH_LIVESTOCK_BREEDS'
    ]),
    handleTraversalButtonClick (buttonType) {
      const { market = '', breed = '', animal = '' } = this.$route.query
      this.selectedAnimal = animal
      this.selectedMarket = market
      this.selectedBreed = breed

      if (buttonType === 'next') {
        this.currentPageNumber += 1
      } else {
        this.currentPageNumber -= 1
      }
      this.$router.push(`${this.url}?page=${this.currentPageNumber}&animal=${this.selectedAnimal}&market=${this.selectedMarket}&breed=${this.selectedBreed}`)
      this.FILTER_LIVESTOCK({ filteredBy: { market, breed, animal }, page: this.currentPageNumber, expertId: this.expertId })
    },
    setSelected (value) {
      const { market = '', breed = '', animal = '' } = this.$route.query

      this.selectedAnimal = animal
      this.selectedMarket = market
      this.selectedBreed = breed

      if (value.filterValue === 'All-Counties' && value.filterType === 'market') {
        this.selectedMarket = ''
      }
      if (value.filterValue !== 'All-Counties' && value.filterType === 'market') {
        this.selectedMarket = value.filterValue
      }
      if (value.filterValue === 'All-Types' && value.filterType === 'animal') {
        this.selectedAnimal = ''
        this.FETCH_LIVESTOCK_BREEDS(value.filterValue)
      }
      if (value.filterValue !== 'All-Types' && value.filterType === 'animal') {
        this.selectedAnimal = value.filterValue
        this.FETCH_LIVESTOCK_BREEDS(value.filterValue)
      }
      if (value.filterValue !== 'All-Breeds' && value.filterType === 'breed') {
        this.selectedBreed = value.filterValue
      }
      if (value.filterValue === 'All-Breeds' && value.filterType === 'breed') {
        this.selectedBreed = ''
      }
      this.currentPageNumber = 1

      this.$router.push(`${this.url}?page=${this.currentPageNumber}&animal=${this.selectedAnimal}&market=${this.selectedMarket}&breed=${this.selectedBreed}`)
      this.FILTER_LIVESTOCK({ filteredBy: { market: this.selectedMarket, breed: this.selectedBreed, animal: this.selectedAnimal }, page: this.currentPageNumber, expertId: this.expertId })
    }
  }
}
</script>

<style scoped>
button {
  background-color: #88af00;
  padding: 5px 10px;
  border: none;
  color: white;
}
.ll-heading {
  margin-top: 2rem;
  display: flex;
  margin-bottom: 2rem;
}
.livestock-heading {
  color: #510012;
  width: 100%;
}
.ll-frame {
  background-color: white;
  max-width: 900px;
  margin: 2rem auto;
  -webkit-box-shadow: 0 1px 10px 10px #f3f7e9;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.ll-frame .ll-main-container {
  display: inline-block;
}
.livestock-heading, .text-right {
  display: inline-block;
}
.livestock-previous-btn, .livestock-next-btn {
  display: inline-block;
}
.livestock-previous-btn {
  width: 50%
}
.livestock-next-btn {
  width: 50%;
  text-align: right;
}
.bottom-traversal-btns-container {
  display: flex;
  width: 100%
}
.select-fields-container .v-select:first-child {
  margin-left: 0rem
}
.select-fields-container .v-select {
  display: inline-block;
  margin-left: 1rem;
  width: 31%;
}
.v-select >>> .selected-tag {
  color: #510011;
}
.note-message {
  vertical-align: middle;
  text-align: center;
}
.v-select >>> .dropdown-toggle .clear{
  display: none;
}
@media only screen and (max-width: 1024px) {
  .ll-main-container {
    text-align: center;
  }
  .ll-main-container >>> .ll-container {
    width: 80%;
    display: inline-block
  }
  .select-fields-container .v-select {
    display: inline-block;
    margin-left: 0.2rem;
    width: 32%;
  }
}
@media only screen and (max-width: 768px) {
  .ll-heading, .select-fields-container {
    width: 100%;
    margin:0px !important;
  }
  .ll-main-container >>> .ll-container {
    width: 47%;
    max-width: 100% !important;
    margin: 10px !important;
  }
  .bottom-traversal-btns-container {
    max-width: 85%;
    margin: 0 auto;
  }
  .ll-main-container >>> img{
    width: 100% !important;
  }
  .livestock-heading{
    width: 100% !important;
    margin-top: 30px;
  }
  .livestock-sale-text{
    font-size: 1.5em !important;
    margin: 10px 0px;
    text-align: start;
  }
  .ll-frame{
    background: none;
    padding: 0px !important;
  }
  .ll-frame >>> .ll-container{
    background-color: #f0f0f0;
    padding-bottom: 10px;
  }
  .ll-frame >>> .ll-container .price-and-county-container{
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 600px) {
  .ll-heading {
    text-align: center;
  }
  .livestock-heading {
    margin: 0 auto;
  }
  .livestock-sale-text {
    font-size: 2rem;
  }
  .livestock-heading {
    width: 60%;
  }
  .bottom-traversal-btns-container {
    margin-bottom: 2rem;
  }
  .select-fields-container .v-select:first-child {
    margin: 10px auto;
  }
  .select-fields-container .v-select {
    display: block;
    text-align: center;
    margin: 10px auto;
    width: 100%;
  }
  .ll-main-container >>> .ll-container {
    width: 100%;
    margin: 10px 0 !important;
  }
  .livestock-previous-btn {
    width: 56%;
    font-size: 1rem;
  }
  .livestock-next-btn {
    width: 44%;
  }
   .livestock-next-btn >>> button {
    font-size: 0.7rem;
  }
  .livestock-previous-btn >>> button {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 320px) {
  .ll-frame {
    width: 100%;
    margin: 15px auto;
  }
  .ll-heading {
    max-width: 85%;
    margin: 0px !important;
  }
  .livestock-sale-text {
    font-size: 1.8rem;
  }
  .livestock-previous-btn {
    width: 55%;
    font-size: 1rem;
  }
  .livestock-next-btn {
    width: 45%;
  }
  .bottom-traversal-btns-container {
    margin-top: 1rem;
  }
}
</style>
