<template>
<ProfileSideBarLayout>
    <div class="main-content">
      <UserProfileSwitcher @changeProfileSection="changeProfileSection" :pp = "pp"/>
      <div v-if="activeStatusLink === 'isMyFarmLinkActive'"/>
    </div>
  <div
  v-if="showLoading"
  >
  <Spinner/>
  </div>
  <div v-else>
  <div class="experts-container">
      <div v-if="farmDetails">
      <Farms :farmDetails="farmDetails.farms"/>
      </div>
    <div v-else-if="getExpertFarmsError" class="note-message">
        <h3>We are yet to have farms for this expert</h3>
      </div>
  </div>
  </div>
</ProfileSideBarLayout>
</template>
<script>
import ExpertUserProfile from './ExpertUserProfile.vue'
import UserProfileSwitcher from './Switcher.vue'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout.vue'
import Spinner from '@/components/ui/Spinner'
import Farms from '@/pages/Farm/Farms.vue'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'ExpertProfileIndex',
  components: {
    ExpertUserProfile,
    UserProfileSwitcher,
    ProfileSideBarLayout,
    Spinner,
    Farms
  },
  data () {
    return {
      activeStatusLink: 'isMyFarmLinkActive'
    }
  },
  computed: {
    ...mapGetters(['getExpertFarms', 'getExpertFarmsError']),
    showLoading () {
      const loadingStatus = this.getExpertFarmsError ? false : !this.getExpertFarms
      return loadingStatus
    },
    farmDetails () {
      return this.getExpertFarms
    },
    pp () {
      return 'ExpertFarms'
    }
  },
  methods: {
    ...mapActions(['expertFarms']),
    changeProfileSection (activeLinkStatus) {
      this.activeStatusLink = 'isMyFarmLinkActive'
    }
  },
  created () {
    this.$store.dispatch('expertFarms', this.$route.params.id)
    this.activeStatusLink = 'isMyFarmLinkActive'
  }
}
</script>

<style  scoped>
.note-message {
    text-align: center;
  }
  .experts-container {
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1.4rem #d5e2a3;
    margin-top: 4rem;
    padding: 2rem;
    background-color: #fff;
  }
@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {

  .main-content {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .profile-wrapper {
    flex-direction: column;
  }
  .main-content {
    width: 100%;
  }
}
</style>
