<template>
<ProfileSideBarLayout>
    <div class="main-content">
      <UserProfileSwitcher @changeProfileSection="changeProfileSection" />
      <div v-if="activeStatusLink === 'isMyFarmLinkActive'"/>
    </div>
  <div>
  <div class="experts-container">
    <div v-if="getExpertsUpdates.length !== 0">
    <UpdatesList :dataList="getExpertsUpdates[this.$route.params.id]"/>
    <button @click="loadMore()" class="btn big-full" v-show="!hideLoadButton" v-html="loadMoreButtonContent"></button>
    </div>
    <div v-else class="note-message">
        <h3>We are yet to have updates for this expert</h3>
      </div>
  </div>
  </div>
  <div
  v-if="this.getUpdatesRequestStatuses.isFetching && pageNumber===1"
  >
  <Spinner/>
  </div>
</ProfileSideBarLayout>
</template>
<script>
import ExpertUserProfile from './ExpertUserProfile.vue'
import UserProfileSwitcher from './Switcher.vue'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout.vue'
import Spinner from '@/components/ui/Spinner'
import UpdatesList from '@/pages/Updates/UpdatesList.vue'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'ExpertProfileIndex',
  components: {
    ExpertUserProfile,
    UserProfileSwitcher,
    ProfileSideBarLayout,
    Spinner,
    UpdatesList
  },
  data () {
    return {
      activeStatusLink: 'isMyFarmLinkActive',
      pageNumber: 1,
      hideLoadButton: true
    }
  },
  computed: {
    ...mapGetters(['getExpertsUpdates', 'getExpertFarmsError', 'getUpdatesRequestStatuses']),
    showLoading () {
      const loadingStatus = this.getExpertsUpdates.length === 0 ? true : !this.getExpertFarmsError
      return loadingStatus
    },
    loadMoreButtonContent () {
      const loadMoreButtonContent = this.getUpdatesRequestStatuses.isFetching
        ? '<i class="fas fa-spinner fa-spin"/>'
        : 'LOAD MORE'
      return loadMoreButtonContent
    }
  },
  methods: {
    ...mapActions(['fetchUpdates']),
    changeProfileSection (activeLinkStatus) {
      this.activeStatusLink = 'isMyFarmLinkActive'
    },
    loadMore () {
      this.pageNumber++
      this.fetchUpdates({ pageNumber: this.pageNumber, dataScope: 'expertUpdates', expertId: this.$route.params.id })
    },
    updateLoadButton () {
      const expertDetails = this.getExpertsUpdates[this.$route.params.id]
      this.hideLoadButton = expertDetails ? expertDetails[0].user.number_of_updates === expertDetails.length : false
    }
  },
  created () {
    this.fetchUpdates({ pageNumber: this.pageNumber, dataScope: 'expertUpdates', expertId: this.$route.params.id })
    this.activeStatusLink = 'isMyFarmLinkActive'
  },
  updated () {
    this.updateLoadButton()
  }
}
</script>

<style  scoped lang="scss">
.note-message {
    text-align: center;
  }
  .experts-container {
  max-width: 650px;
  margin-top: 50px;
  margin-bottom: 200px;
  }
  .btn {
    &.big-full {
    width: 100%;
    background-color: #e7e7e7;
    font-size: 15px;
    padding: 15px;
    outline: none;
    color: #7a7a7a;
    border-radius: 0;
    box-shadow: none;
  }
}
@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {

  .main-content {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .profile-wrapper {
    flex-direction: column;
  }
  .main-content {
    width: 100%;
  }
}
</style>
