<template>
  <ProfileSideBarLayout>
    <div>
      <InputSellerProducts />
    </div>
  </ProfileSideBarLayout>
</template>

<script>
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout'
import InputSellerProducts from './InputSellerProducts'
import { mapState, mapMutations } from 'vuex'
export default {
  name: 'InputSellerActivity',
  data() {
    return {
      switcherList: [
        {
          optionName: 'My Products',
          linkName: 'MyProducts'
        }
      ],
      activelink: 'MyProducts'
    }
  },
  components: {
    ProfileSideBarLayout,
    InputSellerProducts
  },
  methods: {
    ...mapMutations(['CHANGE_COMPONENT']),
    changeActiveLink(status) {
      this.activelink = status
      if (status === 'MyProducts') {
        this.CHANGE_COMPONENT('ProductSection')
      }
    }
  },
  computed: {
    ...mapState({
      currentComponent: state => state.uploadProductStore.currentComponent
    })
  }
}
</script>

<style scoped>
.main {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  width: 100%;
}

@media only screen and (width: 768px) {
  .main {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    width: 100%;
    padding-left: 45px;
    padding-right: 40px;
  }
}

.switcher {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@media only screen and (max-width: 576px) {
  .rr-switchers li a >>> .rr-switchers li a {
    font-size: 120%;
  }
}
</style>
