<template>
  <div class="main">
    <div class="switcher">
      <Switcher
        :switcherOptionList="switcherList"
        :activeLink="activelink"
        @changeActiveLinkStatus="changeActiveLink"
      />
    </div>
    <SwitchButton />
    <keep-alive>
      <component :is="currentComponent"></component>
    </keep-alive>
  </div>
</template>

<script>
import Switcher from "@/components/ui/Switcher";
import ProductSection from "./ProductSection";
import UploadProduct from "./UploadProduct";
import UploadInputType from "./UploadInputType";
import SwitchButton from "./SwitchButton";
import { mapState, mapMutations } from "vuex";
export default {
  name: "InputSellerProducts",
  data() {
    return {
      switcherList: [
        {
          optionName: "My Products",
          linkName: "MyProducts"
        }
      ],
      activelink: "MyProducts"
    };
  },
  components: {
    Switcher,
    ProductSection,
    UploadProduct,
    UploadInputType,
    SwitchButton
  },
  methods: {
    ...mapMutations(["CHANGE_COMPONENT"]),
    changeActiveLink(status) {
      this.activelink = status;
      if (status === "MyProducts") {
        this.CHANGE_COMPONENT("ProductSection");
      }
    }
  },
  computed: {
    ...mapState({
      currentComponent: state => state.uploadProductStore.currentComponent
    })
  }
};
</script>

<style scoped>
.main {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  width: 100%;
}

@media only screen and (width: 768px) {
  .main {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    width: 100%;
    padding-left: 45px;
    padding-right: 40px;
  }
}

.switcher {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@media only screen and (max-width: 576px) {
  .rr-switchers li a >>> .rr-switchers li a {
    font-size: 120%;
  }
}
</style>
