<template>
   <div class="uploadButtons section">
        <div class="inputButton" @click="switcher('UploadInputType')">
          <span class="plus">+</span>
          <p class="inputText">Add New Input Type</p>
        </div>
        <div class="inputButton" @click="switcher('UploadProduct')">
          <span class="plus">+</span>
          <p class="inputText">Add New Product</p>
        </div>
      </div>
</template>

<script>
import {mapMutations} from 'vuex'
export default {
  name: 'SwitchButton',
  data () {
    return {}
  },
  methods: {
    ...mapMutations(['CHANGE_COMPONENT']),
    switcher (type) {
      this.CHANGE_COMPONENT(type)
    }
  }
}
</script>

<style>
.uploadButtons{
  display: flex;
  flex: 0 0 36%;
  width: 80%;
}

.inputButton{
  background-color: #90B42E;
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.plus{
  font-size: 2rem;
  font-weight: bold;
  margin-right: 15px;
}

.inputText{
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.9rem;
}

@media screen and (max-width: 576px){
  .uploadButtons{
    display: flex;
    flex: 0 0 36%;
    width: 100%;
  }

  .inputText{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 800px) {
  .uploadButtons{
    display: flex;
    flex: 0 0 36%;
    width: 100%;
  }
}

</style>
