<template>
  <div>
    <BasePhoneValidation/>
  </div>
</template>
<script>
import BasePhoneValidation from '@/components/PhoneValidation/BasePhoneValidation'
export default {
  name: 'PhoneValidation',
  components: {
    BasePhoneValidation
  }
}
</script>
