<template>
  <div>
    <transition name="fade" appear>
      <BaseCalving
        class="positioning"
        v-if="changeStage==='BaseCalving'"
        :ageOfCalving="ageOfCalving"
        @submit="CalvingResult"
      />
      <CalvingResult
        class="positioning"
        v-else-if="changeStage==='CalvingResult'"
        :ageOfCalving="ageOfCalving"
         @submit="BaseCalving"
      />
    </transition>
  </div>
</template>
<script>
import BaseCalving from '../FirstCalvingPage/BaseCalving'
import CalvingResult from '../FirstCalvingPage/CalvingResult.vue'

export default {
  name: 'FirstCalvingPage',

  data () {
    return {
      ageOfCalving: '',
      changeStage: 'BaseCalving'
    }
  },

  methods: {
    CalvingResult (ageOfCalving) {
      this.ageOfCalving = ageOfCalving
      this.changeStage = 'CalvingResult'
    },
    BaseCalving (ageOfCalving) {
      this.ageOfCalving = ageOfCalving
      this.changeStage = 'BaseCalving'
    }
  },

  components: {
    BaseCalving,
    CalvingResult
  }
}
</script>

<style scoped>
  * {
    text-align: center;
  }
  .positioning {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 6% 1.25rem;
    margin-top: 80px;
  }

  /* TRANSITION */

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-active, .fade-leave-active {
    transition: all 1.4s ease-in;
  }
</style>
