<template>
  <ProfileSideBarLayout v-if="activeSwitcherLink='veiwLivestock'">
  <transition name="fade" appear>
    <div class="individual-livestock-wrapper">
        <div class="livestock-info">
        <div class="product-header">
          <span class="active">View Product</span>
          <span class="product-list"><i class="fas fa-envelope"></i> Contact Seller</span>
        </div>
            <IndividualProductHeader
            />
            <br>
            <IndividualProducts
            />
      </div>
    </div>
  </transition>
</ProfileSideBarLayout>
</template>

<script>
import IndividualProductHeader from './IndividualProductHeader.vue'
import IndividualProducts from './IndividualProducts.vue'
import Switcher from '@/components/ui/Switcher'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout.vue'
import Spinner from '@/components/ui/Spinner.vue'
import {mapActions} from 'vuex'

export default {
  data () {
    return {
    }
  },
  methods: {
    ...mapActions(['getIndividualProduct'])
  },
  mounted () {
    this.getIndividualProduct(this.$route.params.productId)
  },
  components: {
    Switcher,
    IndividualProductHeader,
    IndividualProducts,
    ProfileSideBarLayout,
    Spinner
  }
}
</script>
<style scoped>
.product-header {
  text-align: left;
  width: 90%;
  margin-top: 45px;
  margin-right:2px;
}
.product-list {
  font-family: "Comfortaa-light";
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  font-Size: 18px;
  font-weight: light;
  color: #7a3241;
  cursor: pointer;
}
.active {
  font-family: "Comfortaa-light";
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  font-Size: 18px;
  font-weight: light;
  color: #7a3241;
  cursor: pointer;
  border-bottom: 3px solid #90b42e;
}

.product-list:hover {
  border-bottom: 3px solid #90b42e;
}
@media only screen and (max-width: 600px) {
  .product-list {
    margin-right: 1.2rem;
    font-size: 80%;
  }
  .product-header {
    max-width: 100%;
    margin: 10px 0px 0px 0px;
  }
  .product-header span{
    margin: 0px 10px 0px 0px;
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 950px) {
   .switcher-wrapper {
    padding: 0% 2%
  }
}
</style>
