<template>
<div class="product-spec">
  <h5>Details</h5>
  <p> {{getIndividualProduct.description}}</p>
</div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  computed: {
    ...mapGetters(['getIndividualProduct'])
  }
}
</script>
<style scoped>
.product-spec p {
  color: #601b2a
}
.product-spec h5 {
  margin-top: -35%;
  color:rgb(175, 175, 175)
}
@media (max-width: 1100px) {
  .product-spec h5 {
    margin-top: -45%;
  }
  .product-spec ul {
    font-size: 13px;
  }
}

@media (max-width: 950px) {
  .product-spec ul {
    font-size: 20px;
    padding-left: 1px;
    bottom: 0;
  }
}
@media (max-width: 450px) {
  .product-spec ul {
    font-size: 15px;
    padding-left: 1px;
    bottom: 0;
  }
}
@media (max-width: 380px) {
  .product-spec ul {
    font-size: 14px;
  }
}

</style>
