<template>
  <div
    :class="[{'selected': isSelected}, 'dairy-option']"
    @click="handleDairyOptionClick"
  >
    <div class="option-content">
      <i class="fa fa-check dairy-option-check"></i>
      <p class="option-text">{{ description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DairyOptions',
  props: {
    description: {
      type: String,
      required: true
    },
    isSelected: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handleDairyOptionClick () {
      this.$emit('handleDairyOptionClick')
    }
  }
}
</script>

<style scoped>
.dairy-options-container .dairy-option {
  cursor: pointer;
  border-radius: 0.5rem;
  width: 13.8rem;
  line-height: 1.7;
  height: 5rem;
  padding: 0;
  margin: 0.3rem;
  border: 0.2rem solid #cfb1b8;
}

.dairy-option:hover:not(.selected) {
  transform: scale(1.02);
  box-shadow: 0rem 0rem 0.6rem #aaa;
}

.dairy-options-container .dairy-option.selected {
  border-color: #590010;
}

.dairy-options-container .dairy-option.selected .option-text {
  color: #590010;
}

.option-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 0 0.6rem;
}

.option-text {
  margin: 0;
  color: #cfb1b8;
  text-align: left;
  width: 100%;
  margin-left: 0.6rem;
  font-size: 0.96rem;
}

.dairy-option-check {
  color: #59000f;
  visibility: hidden;
  padding-right: 0.3rem;
  font-size: 1.2rem
}

.dairy-option.selected .dairy-option-check {
  visibility: visible;
}

.hide {
  display: none;
}

@media only screen and (max-width: 960px) {
  .dairy-options-container .dairy-option {
    width: 19rem;
  }

  .option-content {
    padding: 0 1.4rem;
  }

  .dairy-option-check {
    padding-right: 1.4rem;
  }
}

@media only screen and (max-width: 500px) {
  .dairy-options-container .dairy-option {
    width: 14rem;
    height: 4rem;
    font-size: 0.7rem;
  }

  .option-content {
    padding: 0 0.6rem;
  }

    .dairy-option-check {
    padding-right: 0.6rem;
  }
}
</style>
