<template>
  <transition name="fade" appear>
  <div class="landing-page-container">
    <div class="landing-page-intro-text">
      <h1 class="landing-page-title">Welcome to Dairynomics</h1>
      <p class="landing-page-subtitle">You will leave here a better farmer, We promise!</p>
    </div>

    <div class="dairy-options-section">
      <h5 class="dairy-options-introduction">Let's first get to know you ...</h5>
      <div class="dairy-options-container">
      <DairyOptions
        v-for="(option, index) in dairyOptions" :key="index" :description="option.description"
          :isSelected="activeUserType===option.userType"
          @handleDairyOptionClick="handleDairyOptionClick(option.userType)"
      />
      </div>
    </div>
    <div class="button-section">
      <AppButton
      :disabled="disabled"
      @click="handleButtonClick"
      >
        Get Started
      </AppButton>
    </div>
  </div>
  </transition>
</template>

<script>
import DairyOptions from './DairyOptions.vue'
import AppButton from '../../components/ui/AppButton.vue'
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'LandingPage',
  components: { AppButton, DairyOptions },
  data () {
    return {
      selectedOptionIndex: undefined,
      landingPageButtonClass: 'landing-page-btn',
      dairyOptions: [{
        description: 'I am a Dairy Farmer',
        routeURL: '/herds-composition',
        userType: 'I am a dairy farmer'
      },
      {
        description: 'I want to become a Dairy farmer',
        routeURL: '/potential-farmer',
        userType: 'I am a potential farmer'
      },
      {
        description: 'I am an input seller',
        routeURL: '/input-seller',
        userType: 'I am an input seller'
      },
      {
        description: 'I am a service provider',
        routeURL: '/service-provider',
        userType: 'I am a service provider'
      }]
    }
  },
  methods: {
    handleDairyOptionClick (userType) {
      this.setUserType({ userType })
    },

    handleButtonClick () {
      !this.disabled &&
      this.$router.push(this.dairyOptions.find(option => option.userType === this.activeUserType).routeURL)
    },

    ...mapMutations({
      setUserType: 'SET_USER_TYPE'
    })
  },

  computed: mapState({
    activeUserType: state => state.landingPage.userType,
    disabled: state => !state.landingPage.userType
  })

}
</script>

<style scoped>
.landing-page-container {
  position: absolute;
  width: 100%;
  padding-bottom: 5rem;
  overflow-x: hidden;
  margin-top: 80px;
}

.landing-page-intro-text {
  margin: 5% auto;
  max-width: 70%;
  text-align: center;
}

.landing-page-title {
  color: #8ec800;
  font-family: 'Comfortaa-regular';
}

.landing-page-subtitle {
  color: #b6b6b6;
}

.dairy-options-section {
  margin: 5% auto;
  max-width: 70%;
  text-align: center;
  display: table;
  border-collapse: separate
}

.dairy-options-introduction {
  color: #5d0017;
}

.dairy-options-container {
  max-width: 100%;
  margin: 2% auto;
  display: flex;
  align-items: center;
}

.button-section {
  max-width: 500px;
  margin: -3% auto;
  text-align: center
}

@media only screen and (max-width: 960px) {
    .dairy-options-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .landing-page-title {
    font-size: 1.3rem;
    margin-top: 3px;
  }

  .landing-page-subtitle {
    font-size: 0.8rem;
    margin-top: 3px;
  }
}

@media only screen and (max-width: 600px) {
  .dairynomics-logo {
    width: 180px;
    margin-left: 10px;
  }
  .landing-page-title {
    font-size: 1.2rem;
    margin-top: 3px;
  }

  .landing-page-subtitle {
    font-size: 0.8rem;
    margin-top: 3px;
  }

  .dairy-options-introduction {
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 5px;
  }
}

  /* TRANSITION */

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-active, .fade-leave-active {
    transition: all 1.4s ease-in;
  }
</style>
