
<template>
  <!-- logIn -->
  <div id="pin">
    <form>
      <h2
        v-if="accountCodeForm.hide ===false && accountCodeForm.code===accountCodeForm.verif"
        id="account-code"
      >Change your Pin</h2>
      <p
        v-if="accountCodeForm.hide ===false && accountCodeForm.code===accountCodeForm.verif"
        id="code-sent"
      >Please enter your new pin below!</p>
      <h2 v-if="accountCodeForm.hide===true" id="account-code">Confirmation Code</h2>
      <p v-if="accountCodeForm.hide===true" id="code-sent">A Code has been sent to your phone.</p>
      <p v-if="accountCodeForm.hide===true" id="enter-pin">Please enter the code below</p>
      <div class="two-col">
        <input
          v-if="accountCodeForm.hide===true"
          required
          type="number"
          class="form-control"
          id="col2"
          placeholder="XXXX"
          v-model="accountCodeForm.code"
        >
      </div>

      <div v-if="accountCodeForm.hide ===false && accountCodeForm.code!==accountCodeForm.verif">
        <p id="account-code">Try again please!</p>
      </div>

      <div class="two-col">
        <input
          v-if="accountCodeForm.hide ===false && accountCodeForm.code!==accountCodeForm.verif"
          required
          type="number"
          class="form-control"
          id="col2"
          placeholder="XXXX"
          v-model="accountCodeForm.code"
        >
      </div>

      <div>
        <button
          v-if="accountCodeForm.hide ===false && accountCodeForm.code!==accountCodeForm.verif"
          v-on:click.prevent="checkVerification"
          class="form-control"
        >
          <font-awesome-icon v-if="getForgotPin.loading" icon="spinner" spin/>Enter
        </button>
      </div>

      <div id="enter">
        <button
          v-if="accountCodeForm.hide===true"
          v-on:click.prevent="checkVerification"
          class="form-control"
        >
          <font-awesome-icon v-if="getForgotPin.loading" icon="spinner" spin/>Enter
        </button>
      </div>

      <div class="two-col">
        <input
          v-if="accountCodeForm.code.length !=0 && accountCodeForm.code===accountCodeForm.verif "
          required
          type="password"
          class="form-control"
          id="col2"
          v-model="$v.accountCodeForm.pin.$model"
        >
      </div>
      <div class="error">
        <p v-if="$v.accountCodeForm.pin.$error" class="error-message">
          <span class="mt-1" v-if="!$v.accountCodeForm.pin.required">Pin is required</span>
          <span class="mt-1" v-else-if="!$v.accountCodeForm.pin.integer">Pin must be a digit</span>
          <span
            class="mt-1"
            v-else-if="!$v.accountCodeForm.pin.minLength"
          >Pin should not be less than 4 characters</span>
          <span
            class="mt-1"
            v-else-if="!$v.accountCodeForm.pin.maxLength"
          >Pin should not be more than 4 characters</span>
        </p>
        <p
          class="error-message"
          v-if="accountCodeForm.hide ===false && accountCodeForm.code!==accountCodeForm.verif"
        >
          <span>Enter a valid code</span>
        </p>

        <p class="error-message" v-if="getForgotPin.error">
          <span>{{getForgotPin.error}}</span>
        </p>
      </div>
      <div>
        <button
          v-if="accountCodeForm.hide ===false && accountCodeForm.code===accountCodeForm.verif"
          v-on:click.prevent="getCode"
          class="form-control"
        >
          <font-awesome-icon v-if="getForgotPin.loading" icon="spinner" spin/>
          {{accountCodeForm.buttonTitle}}
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import {
  required,
  minLength,
  integer,
  maxLength
} from 'vuelidate/lib/validators'
export default {
  data () {
    return {
      accountCodeForm: {
        code: '',
        error: '',
        pin: '',
        verif: '',
        hide: true,
        buttonTitle: 'Continue'
      }
    }
  },
  computed: {
    ...mapState(['verification_code']),
    ...mapGetters({
      getForgotPin: 'getForgotPin'
    })
  },
  validations: {
    accountCodeForm: {
      pin: {
        required,
        integer,
        minLength: minLength(4),
        maxLength: maxLength(4)
      }
    }
  },
  watch: {
    getForgotPin (newData, oldData) {
      if (newData.loading) {
        this.accountCodeForm.buttonTitle = ''
      } else if (!newData.loading && !newData.success) {
        this.accountCodeForm.buttonTitle = 'Continue'
      }
    }
  },
  methods: {
    ...mapActions(['accountCode']),
    getCode: function () {
      if (this.$v.accountCodeForm.$invalid) {
        return this.$v.accountCodeForm.$touch()
      } else {
        this.accountCode(this.accountCodeForm.pin)
      }
    },
    checkVerification: function () {
      this.accountCodeForm.verif = this.getForgotPin.verification_code
      this.accountCodeForm.hide = false
    }
  }
}
</script>

<style scoped>
.container-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
img {
  width: 2rem;
  height: 2rem;
}
form {
  display: flex;
  flex-flow: column;
}
form *:not(:last-child) {
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem;
  background-color: #a3c34e;
  cursor: pointer;
  transition: background-color 0.8s ease-in-out;
}
button:focus {
  background-color: #a3c34e;
  border: none;
}
button:hover {
  background-color: #6f8c08;
}

#col1 {
  float: left;
  width: 20%;
}

#col2 {
  text-align: center;
  width: 100%;
}

#col3 {
  text-align: center;
  width: 100%;
  margin-top: -20px;
}
.two-col {
  overflow: hidden;
}
#pin {
  align-content: center;
  width: 343px;
}
#code-sent {
  text-align: center;
  font-size: 13px;
  margin-bottom: 0px;
}

#enter-pin {
  text-align: center;
  font-size: 13px;
}
#enter {
  margin-top: -26px;
}
.error-message {
  color: red;
}
#account-code {
  font-size: 1.25rem;
  text-align: center;
  color: #717171;
  margin-bottom: 19px;
}
.error {
  height: 7px;
  position: relative;
  font-size: 0.7em;
  text-align: center;
}
@media only screen and (max-width: 900px) {
  #pin {
    width: 100%;
  }
}
</style>
