<template>
  <!-- logIn -->
  <div>
    <h5 id="confirmation-code" class="text-center mb-4">Send Confirmation Code</h5>
    <form>
      <label>Phone Number</label>
      <div class="form-row mt-2" id="phone-number">
        <div class="col-sm-3 col">
          <select
            :required="true"
            type="text"
            class="form-control"
            v-model="recoveryForm.country_code"
            placeholder="+254"
          >
            <option
              class="options"
              v-for="codes in countryCodes"
              v-bind:key="codes.name"
              :value="codes.code"
            >
              {{codes.code}}
              <span v-if="codes.code !== recoveryForm.country_code">{{codes.name}}</span>
            </option>
          </select>
        </div>
        <div class="col-sm-9 col">
          <input
            type="text"
            class="form-control"
            v-model="$v.recoveryForm.phone.$model"
            placeholder="0722..."
          >
        </div>
      </div>

      <!-- phone number validator-messages -->
      <div class="phone-error mt-1">
        <p v-if="$v.recoveryForm.phone.$error" class="error-message">
          <span v-if="!$v.recoveryForm.phone.required">Phone number is required</span>
          <span v-else-if="!$v.recoveryForm.phone.integer">Phone number must be digit</span>
          <span
            v-else-if="!$v.recoveryForm.phone.minLength"
          >Phone number should not be less than 9 characters</span>
          <span
            class="mt-1"
            v-else-if="!$v.recoveryForm.phone.maxLength"
          >Phone number should not be more than 10 characters</span>
        </p>
      </div>
      <button class="form-control" @click.prevent="sendPhoneDetails">
        <font-awesome-icon v-if="getForgotPin.loading" icon="spinner" spin/>
        {{recoveryForm.buttonTitle}}
      </button>
    </form>
    <div v-if="getForgotPin.error">
      <p id="error-msg">{{getForgotPin.error}}</p>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import {
  required,
  minLength,
  integer,
  maxLength
} from 'vuelidate/lib/validators'
import listOfCountriesCodeMixins from '@/mixins/listOfCountriesCodeMixins'

export default {
  props: {
    form: {
      type: String
    }
  },
  computed: {
    ...mapGetters({
      getForgotPin: 'getForgotPin'
    })
  },
  data () {
    return {
      recoveryForm: {
        country_code: '+254',
        phone: '',
        buttonTitle: 'Send Code'
      }
    }
  },
  validations: {
    recoveryForm: {
      phone: {
        required,
        integer,
        minLength: minLength(9),
        maxLength: maxLength(10)
      }
    }
  },
  methods: {
    ...mapActions(['sendVerification']),
    sendPhoneDetails: function () {
      if (this.$v.recoveryForm.$invalid) {
        return this.$v.recoveryForm.$touch()
      }
      this.sendVerification({
        country_code: this.recoveryForm.country_code,
        phone: this.recoveryForm.phone
      })
    }
  },
  watch: {
    getForgotPin (newData, oldData) {
      if (newData.loading) {
        this.recoveryForm.buttonTitle = ''
      } else if (!newData.loading && !newData.success) {
        this.recoveryForm.buttonTitle = 'Send Code'
      }
    }
  },
  mixins: [listOfCountriesCodeMixins]
}
</script>

<style scoped>
.container-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
img {
  width: 2rem;
  height: 2rem;
}
.phone-error {
  min-height: 32px;
  font-size: 0.7em;
}
form {
  display: flex;
  flex-flow: column;
}
.text-center {
  color: #717171;
}
.form-control {
  font-size: 13px !important;
}
input {
  padding: 0.5rem;
}
button {
  padding: 0.5rem;
  background-color: #a3c34d;
  border-radius: 2;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.8s ease-in-out;
}
button:focus {
  background-color: #a3c34e;
  border: none;
}
button:hover {
  background-color: #6f8c08;
}

#col1 {
  float: left;
  width: 20%;
}

#col2 {
  float: right;
  width: 78%;
}
.two-col {
  overflow: hidden;
}
#confirmation-code {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#error-container {
  overflow: auto;
  margin-bottom: 0px;
}
#error-container div {
  float: left;
  margin-right: 15px;
}
.error-message {
  color: red;
}
label {
  margin-bottom: 0rem;
  font-size: 13px;
  color: #717171;
}
</style>
