<template>
  <!-- logIn -->
  <div slot="login">
    <form @submit.prevent="loginSubmit">
      <div class="code-phone mt-2">
        <div id="countryCode" class="form-group">
          <SelectCountry
            v-model="selectedCountry"
            :options="countryCodes"
            :defaultOption="selectedCountry"
            label="name"
            track-by="name"
            :show-labels="false"
          />
        </div>
        <div id="phone" class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="0722..."
            v-model="$v.loginForm.phone.$model"
          >
        </div>
      </div>
      <div class="login-error pt-2">
        <p v-if="$v.loginForm.phone.$error">
          <!-- <div class="login-error" v-if=""> -->
          <span class="text-danger" v-if="!$v.loginForm.phone.required">Phone number is required</span>
          <span
            class="text-danger"
            v-else-if="!$v.loginForm.phone.integer"
          >Phone number must be a digit</span>
          <span
            class="text-danger"
            v-else-if="!$v.loginForm.phone.minLength"
          >Phone number should not be less than 9 characters</span>
          <span
            class="text-danger"
            v-else-if="!$v.loginForm.phone.maxLength"
          >Phone number should not be more than 10 characters</span>
        </p>
      </div>
      <div id="passwordNumber">
        <input
          :type="type"
          class="form-control"
          placeholder="4 Digit PIN Number"
          v-model="$v.loginForm.password.$model"
        >
        <button @click="togglePasswordShow" type="button" class="btn btn-show">
          <i :class="toggleButton"></i>
        </button>
      </div>
      <div class="login-error mt-2">
        <p v-if="$v.loginForm.password.$error">
          <span class="text-danger" v-if="!$v.loginForm.password.required ">PIN is required</span>
          <span class="text-danger" v-else-if="!$v.loginForm.password.integer">PIN must be a digit</span>
          <span
            class="text-danger"
            v-else-if="!$v.loginForm.password.minLength"
          >PIN must be up to 4 characters</span>
          <span
            class="text-danger"
            v-else-if="!$v.loginForm.password.maxLength"
          >PIN should not be more than 4 character</span>
        </p>
      </div>
      <div id="login">
        <button class="form-control login-btn" type="submit">
          <font-awesome-icon v-if="LoginDetails.loggingIn" icon="spinner" spin/>
          <span v-else icon="spinner">Log in</span>
        </button>
      </div>
      <div class="mt-2 forgot-pin text-center">
        <a href="#" class="btnForgetPwd" @click="lostPin" value="Login">Help! I forgot my PIN</a>
      </div>
    </form>
    <div class="text-danger" id="error">
      <p v-if="LoginDetails.loginError">{{LoginDetails.loginError}}</p>
    </div>
  </div>
</template>

<script>
import {
  required,
  minLength,
  integer,
  maxLength
} from 'vuelidate/lib/validators'
import { interceptor } from '@/utils/api/AxiosCalls'
import kenyaCountiesMixin from '@/mixins/kenyaCountiesMixin'
import listOfCountriesCodeMixins from '@/mixins/listOfCountriesCodeMixins'
import { mapActions, mapGetters } from 'vuex'
import axios from 'axios'
import SelectCountry from '../SelectCountry'

export default {
  name: 'UserAuthLogIn',
  data () {
    return {
      loginForm: {
        country_code: '+254',
        phone: '',
        password: ''
      },
      type: 'password',
      toggleButton: 'far fa-eye',
      selectedCountry: {
        flag: '/static/svg/flags/ke.svg',
        country_code: '+254'
      }
    }
  },
  components: {
    SelectCountry
  },
  computed: {
    ...mapGetters({
      LoginDetails: 'LoginDetails'
    })
  },
  watch: {
    loginForm: {
      deep: true,
      handler () {
        this.LoginDetails.loginError = ''
      }
    },
    selectedCountry (value) {
      this.loginForm.country_code = value.country_code
    }
  },
  methods: {
    ...mapActions(['doLogin', 'loadSendConfirmationForm']),
    loginSubmit () {
      if (this.$v.loginForm.$invalid) {
        return this.$v.loginForm.$touch()
      }
      this.doLogin({
        country_code: this.loginForm.country_code,
        phone: this.loginForm.phone,
        password: this.loginForm.password
      })
    },
    lostPin: function () {
      this.loadSendConfirmationForm()
    },
    togglePasswordShow () {
      if (this.type === 'password') {
        this.type = 'text'
        this.toggleButton = 'far fa-eye-slash'
        return
      }
      this.type = 'password'
      this.toggleButton = 'far fa-eye'
    },
    setSelectedCountry (country) {
      this.loginForm.country_code = country.country_code
    }
  },
  mixins: [kenyaCountiesMixin, listOfCountriesCodeMixins],
  validations: {
    loginForm: {
      phone: {
        required,
        integer,
        minLength: minLength(9),
        maxLength: maxLength(10)
      },
      password: {
        required,
        integer,
        minLength: minLength(4),
        maxLength: maxLength(4)
      }
    }
  },
  mounted () {
    // delete axios.defaults.headers.common['Authorization']
    axios.interceptors.request.eject(interceptor)
    axios.get('https://geoip-db.com/json/')
      .then(res => {
        // eslint-disable-next-line camelcase
        const { country_code } = res.data
        const selectedCountry = this.countryCodes.find(
          // eslint-disable-next-line camelcase
          country => country.country_code_2 === country_code
        )
        if (selectedCountry) this.selectedCountry = selectedCountry
      })
      .catch(err => console.log(err))
  }
}
</script>

<style scoped>
form {
  display: flex;
  flex-flow: column;
}
input {
  /* padding: 0.5rem; */
  font-size: 12px;
  border: 2px solid #ced4da;
  padding: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  height: 42px;
}
select {
  font-size: 12px;
}
.btn-show {
  position: absolute;
  left: 85%;
  top: 41%;
}
.btn-show:focus,
.btn-show:active {
  outline: none !important;
  box-shadow: none;
}
.login-btn {
  background-color: #91b32e;
  color: #fff;
  width: 100%;
  border: 0;
  transition: background-color 0.8s ease-in-out;
}
.login-btn:hover {
  background-color: #6f8c08;
}
#countryCode {
  width: 80px;
}
p {
  margin-bottom: 0rem;
}

#phone {
  margin-left: 10px;
  flex: 1;
  width: 300px;
}
.forgot-pin a {
  color: #91b32e;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px !important;
}
.btnForgetPwd {
  display: inline-block;
}
.btnForgetPwd:after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  justify-content: center;
  background: #91b32e;
  transition: 300ms;
}
.btnForgetPwd:hover:after {
  width: 100%;
}
#login {
  margin-top: -7px;
  font-size: 13px;
}

#login button {
  color: white;
  font-size: 13px;
}
.form-group {
  margin-bottom: 0px;
}
#login button:focus {
  background-color: #a3c34e !important;
  border: none !important;
}
.login-error {
  min-height: 30px;
  font-size: 0.7em;
  text-align: center;
}
#error {
  text-align: center;
  font-size: 13px;
}
.bridge-demo > * {
  margin: 30px 0;
}
.code-phone {
  display: flex;
}
@media screen {
}

@media only screen and (max-width: 600px) {
  .form-control {
    padding: 2px;
  }
}
</style>
