<template>
  <!-- signup -->
  <div slot="signup" class>
    <div class="form-row mt-2">
      <div class="col names">
        <input
          type="text"
          v-model="$v.signupForm.first_name.$model"
          class="form-control text"
          placeholder="First Name"
        >
      </div>
      <div class="col names">
        <input
          type="text"
          v-model="$v.signupForm.last_name.$model"
          class="form-control text"
          placeholder="Last Name"
        >
      </div>
    </div>
    <!-- first_name validator-messages -->
    <div class="signup-error mt-2">
      <p v-if="$v.signupForm.first_name.$error" class="error-message">
        <span class v-if="!$v.signupForm.first_name.required">First Name is required</span>
        <span class v-else-if="!$v.signupForm.first_name.alpha">First Name must be all Alphabets</span>
        <span
          class
          v-else-if="!$v.signupForm.first_name.maxLength"
        >maximum length of 15 characters for First Name</span>
      </p>

      <!-- last_name validator-messages -->
      <p v-else-if="$v.signupForm.last_name.$error" class="error-message">
        <span class v-if="!$v.signupForm.last_name.required">Last Name is required</span>
        <span class v-else-if="!$v.signupForm.last_name.alpha">Last Name must be all Alphabets</span>
        <span
          class
          v-else-if="!$v.signupForm.last_name.maxLength"
        >maximum length of 15 characters for Last Name</span>
      </p>
    </div>

    <!--Phone Number fields -->
    <div class="form-row" id="phone-number">
      <div class="col-sm-3 col code">
        <SelectCountry
          v-model="selectedCountry"
          :options="countryCodes"
          :defaultOption="selectedCountry"
          label="name"
          track-by="name"
          :show-labels="false"
        />
      </div>
      <div class="col-sm-9 col phone">
        <input
          type="text"
          class="form-control"
          v-model="$v.signupForm.phone.$model"
          placeholder="0722..."
        >
      </div>
    </div>
    <!-- phone number validator-messages -->
    <div class="signup-error mt-2">
      <p v-if="$v.signupForm.phone.$error" class="error-message">
        <span class="mt-1" v-if="!$v.signupForm.phone.required">Phone number is required</span>
        <span class="mt-1" v-else-if="!$v.signupForm.phone.integer">Phone number must be an integer</span>
        <span
          class="mt-1"
          v-else-if="!$v.signupForm.phone.minLength"
        >Phone number should not be less than 9 characters</span>
        <span
          class="mt-1"
          v-else-if="!$v.signupForm.phone.maxLength"
        >Phone number should not be more than 10 characters</span>
      </p>
    </div>
    <!-- Pin fields -->
    <div class="form-row password">
      <div class="col-md col-sm-12 pass">
        <input
          :type="passwordFieldType"
          class="form-control"
          v-model="$v.signupForm.password.$model"
          placeholder="Enter 4 digit PIN"
        >
        <button @click="showPass" id="pass" type="button" class="btn btn-show-pass">
          <i :class="toggleShowPass"></i>
        </button>
      </div>
      <div class="col-md col-sm-12">
        <input
          :type="confirmPasswordFieldType"
          class="form-control confirm"
          v-model="$v.signupForm.confirm_password.$model"
          placeholder="Confirm 4 digit PIN"
        >
        <button @click="showConfPass" id="conf" type="button" class="btn btn-show-confpass">
          <i :class="toggleShowConfPass"></i>
        </button>
      </div>
    </div>

    <!-- Pin validator-messages -->
    <div class="signup-error mt-2">
      <p v-if="$v.signupForm.password.$error" class="error-message">
        <span class="mt-1" v-if="!$v.signupForm.password.required ">PIN is required</span>
        <span class="mt-1" v-else-if="!$v.signupForm.password.integer">PIN must be an integer</span>
        <span
          class="mt-1"
          v-else-if="!$v.signupForm.password.minLength"
        >PIN must be up to 4 characters</span>
        <span
          class="mt-1"
          v-else-if="!$v.signupForm.password.maxLength"
        >PIN should not be more than 4 characters</span>
      </p>
      <!-- Confirm Pin validtor messages -->
      <span
        class="mt-1 error-message"
        v-else-if="$v.signupForm.confirm_password.$error && !$v.signupForm.confirm_password.sameAs"
      >Confirm-PIN must be Same as PIN</span>
    </div>
    <!-- Dairy options -->
    <div class="form-group farmer">
      <select
        class="form-control"
        id="exampleFormControlSelect1"
        v-model="signupForm.account_type"
        :disabled="userType!==null"
      >
        <option> Potential Dairy Farmer </option>
        <option> Dairy Farmer </option>
        <option> Input Seller </option>
        <option> Service Provider </option>
      </select>
    </div>

    <!-- County options -->
    <div class="mt-4 county">
      <select
        class="form-control"
        id="exampleFormControlSelect1"
        v-model="signupForm.county"
        :disabled="signupForm.country_code != '+254 Kenya'"
      >
        <option v-for="county in counties" v-bind:key="county">{{county}}</option>
      </select>
    </div>
    <br>
    <button
      id="signup"
      type="button"
      class="btn col-md-12 button"
      v-on:click="submitSignUpForm"
      :disabled="signedUpUser.loading"
    >
      <font-awesome-icon v-if="signedUpUser && signedUpUser.loading" icon="spinner" spin/>
      <div class="button-title" v-if="signedUpUser && !signedUpUser.loading">{{ buttonTitle }}</div>
    </button>
    <div class="mt-2 have-registration-pin text-center">
      <a v-on:click="haveRegistrationPin" class="have-pin">I have a registration PIN</a>
    </div>
    <p class="mt-1 message">{{signedUpUser.errorMessage}}</p>
  </div>
</template>

<script>
import {
  required,
  minLength,
  integer,
  maxLength,
  sameAs,
  alpha
} from 'vuelidate/lib/validators'
import { mapState, mapGetters } from 'vuex'
import kenyaCountiesMixin from '@/mixins/kenyaCountiesMixin'
import { interceptor } from '@/utils/api/AxiosCalls'
import listOfCountriesCodeMixins from '@/mixins/listOfCountriesCodeMixins'
import SelectCountry from '../SelectCountry'
import axios from 'axios'

export default {
  components: {
    SelectCountry
  },
  data () {
    return {
      signupForm: {
        first_name: '',
        last_name: '',
        phone: '',
        county: 'Others',
        password: '',
        confirm_password: '',
        country_code: '+254',
        account_type:
          this.$store.state.landingPage.userType || 'I am a dairy farmer'
      },
      buttonTitle: 'Send PIN',
      passwordFieldType: 'password',
      confirmPasswordFieldType: 'password',
      toggleShowPass: 'far fa-eye',
      toggleShowConfPass: 'far fa-eye',
      selectedCountry: {
        flag: '/static/svg/flags/ke.svg',
        country_code: '+254'
      }
    }
  },

  computed: {
    ...mapState({
      userAuthSignUp: 'userAuthSignUp',
      userType: state => state.landingPage.userType
    }),

    ...mapGetters({
      signedUpUser: 'signedUpUser'
    })
  },

  watch: {
    signupForm: {
      deep: true,
      handler () {
        this.signedUpUser.errorMessage = ''
      }
    },
    selectedCountry (value) {
      this.signupForm.country_code = value.country_code
    }
  },

  methods: {
    submitSignUpForm () {
      if (this.$v.signupForm.$invalid) {
        return this.$v.signupForm.$touch()
      }
      this.signedUpUser.errorMessage = ''
      let payload = { ...this.signupForm }
      const countryCode = payload.country_code.replace(/\D/g, '')
      payload = { ...this.signupForm, country_code: `+${countryCode}` }
      const store = this.$store
      store
        .dispatch('signUpUser', payload)
        .then(() => {
          store.dispatch('getRandomToken', payload)
        })
        .catch(error => this.$store.commit('INVALID_ERROR', error))
    },
    switchPasswordVisibility () {
      const switchfeilds = (this.passwordFieldType =
        this.passwordFieldType === 'password' ? 'text' : 'password')
      return switchfeilds
    },
    haveRegistrationPin () {
      this.$store.dispatch('openValidationPage')
    },
    showPass () {
      if (this.passwordFieldType === 'password') {
        this.passwordFieldType = 'text'
        this.toggleShowPass = 'far fa-eye-slash'
        return
      }
      this.passwordFieldType = 'password'
      this.toggleShowPass = 'far fa-eye'
    },
    showConfPass () {
      if (this.confirmPasswordFieldType === 'password') {
        this.confirmPasswordFieldType = 'text'
        this.toggleShowConfPass = 'far fa-eye-slash'
        return
      }
      this.confirmPasswordFieldType = 'password'
      this.toggleShowConfPass = 'far fa-eye'
    },
    setSelectedCountry (country) {
      this.signupForm.country_code = country.country_code
    }
  },

  mixins: [kenyaCountiesMixin, listOfCountriesCodeMixins],

  validations: {
    signupForm: {
      first_name: {
        required,
        alpha,
        maxLength: maxLength(15)
      },
      last_name: {
        required,
        alpha,
        maxLength: maxLength(15)
      },
      phone: {
        required,
        integer,
        minLength: minLength(9),
        maxLength: maxLength(10)
      },
      county: {
        required
      },
      password: {
        required,
        integer,
        minLength: minLength(4),
        maxLength: maxLength(4)
      },
      confirm_password: {
        sameAs: sameAs('password')
      },
      account_type: {}
    }
  },
  mounted () {
    axios.interceptors.request.eject(interceptor)
    axios.get('https://geoip-db.com/json/')
      .then(res => {
        // eslint-disable-next-line camelcase
        const { country_code } = res.data
        const selectedCountry = this.countryCodes.find(
          // eslint-disable-next-line camelcase
          country => country.country_code_2 === country_code
        )
        if (selectedCountry) this.selectedCountry = selectedCountry
      })
      .catch(err => console.log(err))
  }
}
</script>

<style scoped>
.button {
  background-color: #91b32e;
  color: #fff;
  width: 100%;
  border: 0;
  transition: background-color 0.8s ease-in-out;
}
.button:hover {
  background-color: #6f8c08;
}
.signup-error {
  min-height: 23px;
  font-size: 0.7em;
}
p {
  margin-bottom: 0px;
}
.names {
  color: red !important;
  font-size: 12px;
}
#phone-number {
  font-size: 12px;
}
.password {
  font-size: 12px;
}
.button-title {
  font-size: 13px;
}
.farmer {
  font-size: 12px;
}
.county {
  font-size: 12px;
  color: #a3c34e !important;
}
.code {
  padding-right: 5px;
}
.form-control {
  font-size: inherit !important;
  border: 2px solid #ced4da;
  padding: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  height: 42px;
}
.error-message {
  color: red;
}
.message {
  color: red;
  font-size: 0.7em;
  text-align: center;
}
.have-registration-pin {
  color: #91b32e;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px !important;
}

.have-pin {
  display: inline-block;
}
.have-pin:after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  justify-content: center;
  background: #91b32e;
  transition: 300ms;
}
.have-pin:hover:after {
  width: 100%;
}

.password button {
  position: absolute;
  left: 77%;
  top: 10%;
}
.password button:focus,
.password button:active {
  outline: none !important;
  box-shadow: none;
}
#code {
  width: 80px;
}
#phone {
  margin-left: 10px;
  flex: 1;
}
@media (max-width: 991.98px) {
  .pass {
    margin-bottom: 17px;
  }
}
@media (max-width: 767.98px) {
  .confirm {
    margin-top: 14px;
  }
  .password button {
    position: absolute;
    left: 87%;
    top: 10%;
  }
  #conf {
    top: 30%;
  }
}
@media (max-width: 575.98px) {
  .password button {
    position: absolute;
    left: 85%;
    top: 10%;
  }
}
</style>
