<template>
  <div class="blog" :id="id">
    <div class="rr-content-container">
      <div class="rr-content-type-container">
        <p class="rr-content-type">{{blogType}}</p>
      </div>
      <div class="rr-content-title">
        <router-link :to="url" class="rr-content-title">{{title}}</router-link>
      </div>
    </div>
    <div class="rr-bottom-content mb-4">
      <span>
        <i class="far fa-thumbs-up"></i>
        {{likes}}
      </span>
      <span>
        <i class="far fa-comment"></i>
        {{number_of_comments}}
      </span>
      <span>
        <router-link class="read-more" :to="url">Read more</router-link>
      </span>
      <span class="check-circle" v-if="completedReading">
        <i class="fas fa-check-circle"></i>Completed Reading
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppBlog',
  props: {
    id: {
      type: String
    },
    likes: {
      type: Number
    },
    blog: {
      type: Object
    },
    title: {
      type: String
    },
    number_of_comments: {
      type: Number,
      required: true
    },
    blogType: {
      type: String
    },
    url: {
      type: String
    },
    completedReading: {
      type: Boolean
    }
  }
}
</script>

<style scoped>
.blog {
  background: white;
  border: 1px solid #f4f7ea;
  box-shadow: 0px 0px 15px rgba(194, 240, 68, 0.4);
}
.rr-content-container {
  background-color: transparent;
  max-width: 90%;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  height: 100px;
}
.rr-content-type {
  font-size: 75%;
  color: #add071;
  margin-bottom: 0.5rem;
}
.rr-content-title-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a.rr-content-title {
  color: #7a3241;
  text-decoration: none;
}

.rr-bottom-content {
  margin-left: 2rem;
  max-width: 90%;
}
.rr-bottom-content span {
  display: inline-block;
  margin-right: 1rem;
}
.fa-thumbs-up,
.fa-comment {
  color: #93c333;
  margin-right: 0.2rem;
}
.read-more {
  font-size: 90%;
  color: #b2b2b2;
}
.check-circle {
  color: #00a0bc;
}
.fa-check-circle {
  margin-right: 0.2rem;
}
button {
  margin-top: 3%;
  width: 100% !important;
  padding: 1rem 0 !important;
}
@media screen and (max-width: 734px){
  .blog .rr-content-container, .blog .rr-bottom-content{
    margin: 0px !important;
    width: 100%;
    max-width: 100%;
    padding: 10px !important;
  }
}
@media only screen and (max-width: 500px) {
  .rr-content-container{
    height: auto;
    padding-right: 10px;
  }
}
</style>
