<template>
  <div :class="[isHidden ? 'hide' : 'error-message', '']" :id="id">
    <p>{{errorMessage}}</p>
  </div>
</template>

<script>
export default {
  name: 'ErrorMessage',
  props: {
    className: {
      type: String
    },
    errorMessage: {
      type: String
    },
    id: {
      type: String
    },
    isHidden: {
      type: Boolean
    }
  }
}
</script>

<style>
.error-message {
  font-size: 0.75rem;
  height: auto;
}
.hide {
  display: none
}

</style>
