<template>
  <div class="col-md-12 preview-wrapper sp-preview-wrapper">
    <div v-for="(img, index) in images" :key="img.file.name" class="preview-details sp-preview-details">
      <img v-bind:src="img.imgPreviewUrl" alt="Preview image" class="previewed-image">
      <div class="preview-details-text">
        <span class="img-name">{{img.file.name}}</span>
        <span class="img-size">{{img.file.size | convert}}</span>
      </div>
      <i @click="removePreviewedImage(index, images)" class="fas fa-times clear"></i>
    </div>
  </div>
</template>

<script>
import { removePreviewedImage } from '@/utils/helperFunctions'
export default {
  name: 'ImagePreview',
  props: {
    images: {
      type: Array
    }
  },
  methods: {
    removePreviewedImage
  },
  filters: {
    convert: (imgSize) => {
      if (imgSize < 999999) {
        const newSize = Math.round(imgSize / 1000)
        return newSize + ' KB'
      }
      const newSize = Math.round(imgSize / 1000000)
      return newSize + ' MB'
    }
  }
}
</script>

<style>
.preview-details:first-child{
  padding-top: 0;
}

.preview-details:last-child{
  padding-bottom: 0;
  border-bottom: none;
}

.preview-details-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
  margin-left: 8px;
  width: 130px;
}

.preview-details-text .img-name{
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
}

.preview-details-text .img-size{
  color: rgb(170, 170, 170)
}
.fa-times {
  cursor: pointer;
}
</style>
