<template>
  <input
    type="text"
    :value="value"
    @input="onInput"
    @keyup.enter="$emit('enter')"
    ref="input"
    autocomplete="off">
</template>

<script>
export default {
  name: 'IntegerInput',

  props: {
    autofocus: {
      type: Boolean,
      default: false
    },

    value: {
      default: ''
    }
  },

  mounted () {
    if (this.autofocus) {
      this.$refs.input.focus()
    }
  },

  methods: {
    onInput (event) {
      const valueToNumber = parseInt(event.target.value, 10)
      const resultValue = Number.isInteger(valueToNumber) ? valueToNumber : ''
      this.$refs.input.value = resultValue
      return this.$emit('input', resultValue)
    }
  }
}
</script>

<style scoped>
  input {
    outline: none;
    border: none;
    text-align: center;
    color: #88af00;
    font-size: 2.4rem;
    caret-color: #000;
    margin: 0;
    padding: 0;
    width: 98%;
    margin-left: -1px;
    font-family: 'Comfortaa-Regular', 'Avenir';
    margin-bottom: -1rem;
  }

  @media only screen and (max-width: 400px) {
    input {
      font-size: 2.1rem;
    }
  }
</style>
