<template>
    <button @click="loadMore()" class="btn big-full" v-html="loadMoreButtonContent" v-if="showLoadMore"></button>
</template>
<script>
export default {
  props: {
    loadMore: Function,
    showLoadMore: Boolean,
    loadMoreButtonContent: String
  }
}
</script>

<style lang="scss" scoped>
.btn {
  &.big-full {
    width: 100%;
    background-color: #e7e7e7;
    font-size: 15px;
    padding: 15px;
    outline: none;
    color: #7a7a7a;
    border-radius: 0;
    box-shadow: none;
  }
}
</style>
