<template>
  <div class="profile-side-bar">
    <div>
    </div>
    <UserProfileInfo
      :userNames="fullName"
      :userType="USER_PROFILE.account_type"
      :county="USER_PROFILE.county"
      :profile_pic="this.PROFILE_PIC"/>
  </div>
</template>

<script>
import UserProfileInfo from '@/pages/UserProfileTimeline/UserProfileInfo'
import {mapGetters} from 'vuex'
export default {
  name: 'ProfileSideBar',
  components: {
    UserProfileInfo
  },
  created () {
    this.$store.dispatch('GET_USER_PROFILE')
  },
  computed: {
    ...mapGetters(['USER_PROFILE', 'PROFILE_PIC']),
    fullName () {
      const userFullName = this.USER_PROFILE.first_name
        ? `${this.USER_PROFILE.first_name} ${this.USER_PROFILE.last_name}` : ''
      return userFullName
    }
  }
}
</script>
