<template>
  <div class="row sale-product mt-4 mb-4">
    <div class="col-md-6 pl-0 pr-0 pb-0 left">
      <img :src="image_src" alt="Card image cap">
    </div>
    <div class="col-md-6 right">
      <p class="heading lead small mt-4 pl-4">Livestock on sale</p>
      <h3 class="body-item mt-4 mb-4 pl-4">{{currency()}}</h3>
      <h5 class="body-item pl-4">{{product_name}}</h5>
      <h6 class="body-item pl-4">{{county}}</h6>
      <button
        @click="$router.push(`/individual-livestock/${id}`)"
        class="mt-3 contact-seller-btn ml-4"
      >View Livestock</button>
    </div>
</div>
</template>

<script>
export default {
  name: 'SaleProduct',
  props: ['id', 'price', 'image_src', 'product_name', 'county'],
  methods: {
    currency () {
      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'KSH',
        minimumFractionDigits: 0
      })
      return formatter.format(this.price)
    }
  }
}
</script>

<style scoped>
.sale-product {
  max-width: 650px;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid #f4f7ea;
  background: white;
  box-shadow: 0px 0px 15px rgba(194, 240, 68, 0.4);
  height: 300px;
  padding: 0;
}
.left img {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  height: 100%;
}
.left {
  width: 100%;
}
.heading {
  color: #cddda0;
  text-transform: uppercase;
}
.body-item {
  color: #7d404e;
}
.contact-seller-btn {
  background-color: #91b32e;
  color: #fff;
  width: 150px;
  border: 0;
  transition: background-color 0.8s ease-in-out;
}
.contact-seller-btn:hover {
  background-color: #6f8c08;
}
@media screen and (max-width: 991.98px) {
  .sale-product {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #f4f7ea;
    box-shadow: 0px 0px 15px rgba(194, 240, 68, 0.4);
    height: 260px;
    padding: 0;
  }
  .left img {
    width: 100%;
  }
  .right .left {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767.98px) {
  .sale-product {
    max-width: 100%;
    height: 50%;
  }
  .right .left {
    width: 50%;
    margin: 0 auto;
    font-size: 12pt;
  }
  .left img {
    width: 100%;
  }

  .sale-product p,
  h3,
  h5,
  h6 {
    font-size: 12pt;
  }
  .right button {
    margin-bottom: 10%;
  }
  div.col-md-6.right{
    padding: 10px !important;
    width: 100%;
  }
  .heading.lead.small, .body-item{
    padding: 0px !important;
    margin: 10px 0px !important;
  }
  .contact-seller-btn{
    margin: 0px !important;
  }
}
@media screen and (max-width: 575.98px) {
  .sale-product {
    max-width: 100%;
    height: 47%;
  }
  .left img {
    width: 100%;
  }

  .left .right {
    width: 50%;
  }
  .sale-product p,
  h3,
  h5,
  h6 {
    font-size: 10pt;
  }
  .right button {
    margin-bottom: 5%;
  }
}

</style>
